---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_5yUQQGtZNwmQ2q&source=card_5yUQmYy8b3RaRP&statement_descriptor=HostWise%209328&metadata[job_id]=13359
    headers:
      Authorization:
      - Bearer sk_test_vw3sBp1npZIIvVeQPFFWqVzo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_5yUQp8dkwUkltY",
          "object": "charge",
          "created": 1427839358,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 22000,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_5yUQmYy8b3RaRP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "B3Y28Sojz28NFSIy",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_5yUQQGtZNwmQ2q"
          },
          "captured": true,
          "card": {
            "id": "card_5yUQmYy8b3RaRP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "B3Y28Sojz28NFSIy",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_5yUQQGtZNwmQ2q"
          },
          "balance_transaction": "txn_5yUQybAgO3PqH0",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5yUQQGtZNwmQ2q",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {
            "job_id": "13359"
          },
          "statement_descriptor": "HostWise 9328",
          "fraud_details": {},
          "receipt_email": "dustinjones595@gmail.com",
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_5yUQp8dkwUkltY/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 31 Mar 2015 22:02:39 GMT
recorded_with: VCR 2.9.3
