---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_616VCIFeTOfEzN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fKeyZic0oSJFOYS4YODfK45r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428442334,
          "id": "cus_616VCIFeTOfEzN",
          "livemode": false,
          "description": null,
          "email": "dustinjones597@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_616VCIFeTOfEzN/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_616VCIFeTOfEzN/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Tue, 07 Apr 2015 21:32:14 GMT
recorded_with: VCR 2.9.3
