---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_616VrYR3b4gWSA&source=card_15p4IrGQgOKVfE1zdGiXx43e&statement_descriptor=HostWise%2017854&metadata[job_id]=24910
    headers:
      Authorization:
      - Bearer sk_test_fKeyZic0oSJFOYS4YODfK45r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15p4ItGQgOKVfE1zZh71EF6o",
          "object": "charge",
          "created": 1428442335,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 22000,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15p4IrGQgOKVfE1zdGiXx43e",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "Bqd9N9PIilv6kovS",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_616VrYR3b4gWSA"
          },
          "captured": true,
          "balance_transaction": "txn_15p4ItGQgOKVfE1zaB3bxm7O",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_616VrYR3b4gWSA",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {
            "job_id": "24910"
          },
          "statement_descriptor": "HostWise 17854",
          "fraud_details": {},
          "receipt_email": "dustinjones595@gmail.com",
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15p4ItGQgOKVfE1zZh71EF6o/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 07 Apr 2015 21:32:15 GMT
recorded_with: VCR 2.9.3
