---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5yXZxss0n8XKau/sources
    body:
      encoding: US-ASCII
      string: card[exp_month]=1&card[exp_year]=20&card[number]=4000000000000341
    headers:
      Authorization:
      - Bearer sk_test_fKeyZic0oSJFOYS4YODfK45r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_15maU0GQgOKVfE1zcN2HBaQB",
          "object": "card",
          "last4": "0341",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 1,
          "exp_year": 2020,
          "fingerprint": "zqdOUvfSotzbJDTQ",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_5yXZxss0n8XKau"
        }
  recorded_at: Wed, 01 Apr 2015 01:17:28 GMT
recorded_with: VCR 2.9.3
