---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_5wa60ebrZzGm58&source=card_5wa6wlnns3f5lm&statement_descriptor=HostWise%20462&metadata[job_id]=520
    headers:
      Authorization:
      - Bearer sk_test_vw3sBp1npZIIvVeQPFFWqVzo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_5wa6g9Y6ywUj9o"
          }
        }
  recorded_at: Thu, 26 Mar 2015 19:47:10 GMT
recorded_with: VCR 2.9.3
