---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_5yXZxss0n8XKau&source=card_15maU0GQgOKVfE1zcN2HBaQB&statement_descriptor=HostWise%2010464&metadata[job_id]=14794
    headers:
      Authorization:
      - Bearer sk_test_fKeyZic0oSJFOYS4YODfK45r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15maU1GQgOKVfE1zgKnlNdu2"
          }
        }
  recorded_at: Wed, 01 Apr 2015 01:17:29 GMT
recorded_with: VCR 2.9.3
