---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=dustinjones597%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_vw3sBp1npZIIvVeQPFFWqVzo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1427839357,
          "id": "cus_5yUQ94D6cAXlpF",
          "livemode": false,
          "description": null,
          "email": "dustinjones597@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5yUQ94D6cAXlpF/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5yUQ94D6cAXlpF/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5yUQ94D6cAXlpF/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Tue, 31 Mar 2015 22:02:37 GMT
recorded_with: VCR 2.9.3
