---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_5yT99jKsAXcbtj&source=card_5yT9FchRjWRCfj&statement_descriptor=HostWise%207450&metadata[job_id]=10757
    headers:
      Authorization:
      - Bearer sk_test_vw3sBp1npZIIvVeQPFFWqVzo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_5yT9wO3gr7tB0X"
          }
        }
  recorded_at: Tue, 31 Mar 2015 20:43:40 GMT
recorded_with: VCR 2.9.3
