---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=22000&currency=usd&customer=cus_616VCIFeTOfEzN&source=card_15p4IsGQgOKVfE1zLvnos45U&statement_descriptor=HostWise%2017855&metadata[job_id]=24911
    headers:
      Authorization:
      - Bearer sk_test_fKeyZic0oSJFOYS4YODfK45r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15p4IuGQgOKVfE1zkbGN7xn0"
          }
        }
  recorded_at: Tue, 07 Apr 2015 21:32:16 GMT
recorded_with: VCR 2.9.3
