---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5yUQQGtZNwmQ2q/sources
    body:
      encoding: US-ASCII
      string: card[exp_month]=1&card[exp_year]=20&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_vw3sBp1npZIIvVeQPFFWqVzo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_5yUQmYy8b3RaRP",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 1,
          "exp_year": 2020,
          "fingerprint": "B3Y28Sojz28NFSIy",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": null,
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_5yUQQGtZNwmQ2q"
        }
  recorded_at: Tue, 31 Mar 2015 22:02:37 GMT
recorded_with: VCR 2.9.3
