---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"4667 Albuquerque St","street2":"#1126","zipcode":"92109"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-001-phoenix
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"4667 Albuquerque St # 1126","last_line":"San Diego CA 92109-3812","delivery_point_barcode":"921093812672","components":{"primary_number":"4667","street_name":"Albuquerque","street_suffix":"St","secondary_number":"1126","secondary_designator":"#","city_name":"San Diego","state_abbreviation":"CA","zipcode":"92109","plus4_code":"3812","delivery_point":"67","delivery_point_check_digit":"2"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06073","county_name":"San Diego","carrier_route":"C006","congressional_district":"52","rdi":"Commercial","elot_sequence":"0107","elot_sort":"D","latitude":32.80718,"longitude":-117.21812,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"S","dpv_footnotes":"AACC","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Tue, 16 Jun 2015 22:18:21 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=32.80718,-117.21812&timestamp=1434493101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Tue, 16 Jun 2015 22:18:22 GMT
recorded_with: VCR 2.9.3
