---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"338 Rennie Ave","street2":null,"zipcode":"90291"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-004-ashburn
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"338 Rennie Ave","last_line":"Venice CA 90291-2648","delivery_point_barcode":"902912648388","components":{"primary_number":"338","street_name":"Rennie","street_suffix":"Ave","city_name":"Venice","state_abbreviation":"CA","zipcode":"90291","plus4_code":"2648","delivery_point":"38","delivery_point_check_digit":"8"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06037","county_name":"Los Angeles","carrier_route":"C006","congressional_district":"33","rdi":"Residential","elot_sequence":"0056","elot_sort":"A","latitude":33.99766,"longitude":-118.47181,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y"}}]
  recorded_at: Thu, 14 May 2015 20:02:42 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=33.99766,-118.47181&timestamp=1431633762
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Thu, 14 May 2015 20:02:42 GMT
recorded_with: VCR 2.9.3
