---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"4408 Lone Tree Dr.","street2":null,"zipcode":"75093"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-002-phoenix
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"4408 Lone Tree Dr","last_line":"Plano TX 75093-3355","delivery_point_barcode":"750933355082","components":{"primary_number":"4408","street_name":"Lone Tree","street_suffix":"Dr","city_name":"Plano","state_abbreviation":"TX","zipcode":"75093","plus4_code":"3355","delivery_point":"08","delivery_point_check_digit":"2"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"48085","county_name":"Collin","carrier_route":"C078","congressional_district":"03","rdi":"Residential","elot_sequence":"0080","elot_sort":"D","latitude":33.03627,"longitude":-96.77986,"precision":"Zip9","time_zone":"Central","utc_offset":-6,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Tue, 31 Mar 2015 22:02:43 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=33.03627,-96.77986&timestamp=1427839363
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -21600,
           "status" : "OK",
           "timeZoneId" : "America/Chicago",
           "timeZoneName" : "Central Daylight Time"
        }
  recorded_at: Tue, 31 Mar 2015 22:02:44 GMT
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"4404 Lone Tree Dr.","street2":"#4","zipcode":"75093"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-001-phoenix
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"4404 Lone Tree Dr # 4","last_line":"Plano TX 75093-3355","delivery_point_barcode":"750933355046","components":{"primary_number":"4404","street_name":"Lone Tree","street_suffix":"Dr","secondary_number":"4","secondary_designator":"#","city_name":"Plano","state_abbreviation":"TX","zipcode":"75093","plus4_code":"3355","delivery_point":"04","delivery_point_check_digit":"6"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"48085","county_name":"Collin","carrier_route":"C078","congressional_district":"03","rdi":"Residential","elot_sequence":"0080","elot_sort":"D","latitude":33.03627,"longitude":-96.77986,"precision":"Zip9","time_zone":"Central","utc_offset":-6,"dst":true},"analysis":{"dpv_match_code":"S","dpv_footnotes":"AACC","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Tue, 31 Mar 2015 22:02:44 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=33.03627,-96.77986&timestamp=1427839364
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -21600,
           "status" : "OK",
           "timeZoneId" : "America/Chicago",
           "timeZoneName" : "Central Daylight Time"
        }
  recorded_at: Tue, 31 Mar 2015 22:02:44 GMT
recorded_with: VCR 2.9.3
