---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"1317 S Bundy Dr","street2":null,"zipcode":"90025"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-002-ashburn
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"1317 S Bundy Dr","last_line":"Los Angeles CA 90025-1335","delivery_point_barcode":"900251335994","components":{"primary_number":"1317","street_predirection":"S","street_name":"Bundy","street_suffix":"Dr","city_name":"Los Angeles","state_abbreviation":"CA","zipcode":"90025","plus4_code":"1335","delivery_point":"99","delivery_point_check_digit":"4"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"06037","county_name":"Los Angeles","carrier_route":"C023","congressional_district":"37","building_default_indicator":"Y","rdi":"Residential","elot_sequence":"0399","elot_sort":"A","latitude":34.04239,"longitude":-118.46561,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"H#"}}]
  recorded_at: Fri, 27 Mar 2015 22:48:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=34.04239,-118.46561&timestamp=1427496507
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Fri, 27 Mar 2015 22:48:28 GMT
[...]
