---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw
    body:
      encoding: UTF-8
      string: '[{"street":"3430 South La Brea Avenue","street2":null,"zipcode":"90016"}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-002-phoenix
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"3430 S LA Brea Ave","last_line":"Los Angeles CA 90016-5258","delivery_point_barcode":"900165258301","components":{"primary_number":"3430","street_predirection":"S","street_name":"LA Brea","street_suffix":"Ave","city_name":"Los Angeles","state_abbreviation":"CA","zipcode":"90016","plus4_code":"5258","delivery_point":"30","delivery_point_check_digit":"1"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06037","county_name":"Los Angeles","carrier_route":"C027","congressional_district":"37","rdi":"Commercial","elot_sequence":"0066","elot_sort":"D","latitude":34.02376,"longitude":-118.35541,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Wed, 27 May 2015 19:13:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=34.02376,-118.35541&timestamp=1432754025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Wed, 27 May 2015 19:13:45 GMT
recorded_with: VCR 2.9.3
