---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDX8lS8r8alRk3yHGFE7cZq1nRCjsc0DmA&location=53.349805,-6.26031&timestamp=1427839365
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : 0,
           "status" : "OK",
           "timeZoneId" : "Europe/Dublin",
           "timeZoneName" : "Irish Standard Time"
        }
  recorded_at: Tue, 31 Mar 2015 22:02:46 GMT
recorded_with: VCR 2.9.3
