---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=71301
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-dallas
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"Alexandria","state_abbreviation":"LA","state":"Louisiana","mailable_city":true},{"city":"Alex","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Anandale","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Camp Stafford","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Castle Village","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Chandler Park","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Charles Park","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Cherokee Village","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Martin Park","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Moreland","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Tanglewood","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Timber Trails","state_abbreviation":"LA","state":"Louisiana","mailable_city":false}],"zipcodes":[{"zipcode":"71301","zipcode_type":"S","county_fips":"22079","county_name":"Rapides","latitude":31.29084,"longitude":-92.46255}]}]
  recorded_at: Mon, 18 May 2015 23:19:00 GMT
recorded_with: VCR 2.9.3
