---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=92382
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-dallas
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"Running Springs","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Arrowbear Lake","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Arrowbear Lk","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Running Spgs","state_abbreviation":"CA","state":"California","mailable_city":true}],"zipcodes":[{"zipcode":"92382","zipcode_type":"P","county_fips":"06071","county_name":"San Bernardino","latitude":34.21442,"longitude":-117.11831}]}]
  recorded_at: Mon, 18 May 2015 23:19:10 GMT
recorded_with: VCR 2.9.3
