---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=70128
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-dallas
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"New Orleans","state_abbreviation":"LA","state":"Louisiana","mailable_city":true}],"zipcodes":[{"zipcode":"70128","zipcode_type":"S","county_fips":"22071","county_name":"Orleans","latitude":30.05057,"longitude":-89.95751}]}]
  recorded_at: Mon, 18 May 2015 23:18:44 GMT
recorded_with: VCR 2.9.3
