---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=90201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-dallas
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"Bell Gardens","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Bell","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Cudahy","state_abbreviation":"CA","state":"California","mailable_city":true}],"zipcodes":[{"zipcode":"90201","zipcode_type":"S","county_fips":"06037","county_name":"Los Angeles","latitude":33.96919,"longitude":-118.17465}]}]
  recorded_at: Mon, 18 May 2015 23:16:47 GMT
recorded_with: VCR 2.9.3
