---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=90096
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-newark
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"Los Angeles","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Shared Firm Zip Code","state_abbreviation":"CA","state":"California","mailable_city":false}],"zipcodes":[{"zipcode":"90096","zipcode_type":"U","county_fips":"06037","county_name":"Los Angeles","latitude":33.967,"longitude":-118.17218}]}]
  recorded_at: Mon, 18 May 2015 23:18:24 GMT
recorded_with: VCR 2.9.3
