---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=95623
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-newark
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"El Dorado","state_abbreviation":"CA","state":"California","mailable_city":true},{"city":"Nashville","state_abbreviation":"CA","state":"California","mailable_city":false}],"zipcodes":[{"zipcode":"95623","zipcode_type":"S","county_fips":"06017","county_name":"El Dorado","latitude":38.6426,"longitude":-120.84904}]}]
  recorded_at: Mon, 18 May 2015 23:19:04 GMT
recorded_with: VCR 2.9.3
