---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/zipcode?auth-id=be3ffba5-6059-4c70-8dff-92978ab8dec4&auth-token=sl4776At3RB7VDM7kXOw&zipcode=70062
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 374379a6-0000-0000-0000-000000000000
      X-Server-Name:
      - zipapi-002-dallas
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"city_states":[{"city":"Kenner","state_abbreviation":"LA","state":"Louisiana","mailable_city":true},{"city":"Beachview","state_abbreviation":"LA","state":"Louisiana","mailable_city":false},{"city":"Green Lawn Terrace","state_abbreviation":"LA","state":"Louisiana","mailable_city":false}],"zipcodes":[{"zipcode":"70062","zipcode_type":"S","county_fips":"22051","county_name":"Jefferson","latitude":29.99288,"longitude":-90.24838}]}]
  recorded_at: Mon, 18 May 2015 23:18:42 GMT
recorded_with: VCR 2.9.3
