.xenon.custom
  .metrics
    display: none
    &.active
      display: block
  .panel
    .select2-head
      float: right
      .select2-container
        margin-top: -10px
        > a
          height: 40px
  .row.top
    min-height: 200px
  .teal
    color: teal
  .red
    color: red
  .gold
    color: gold
  .icon-button
    i
      color: white
  a
    &.teal
      color: teal
      &:hover, &:focus
        color: dark-teal
  .dataTables_paginate
    .pagination
      float: right
  .panel-options
    display: none
  .panel-heading
    height: 45px
    .btn
      float: right
      margin-top: -8px
      i
        font-size: 1.25em
        margin-top: -3px
        margin-right: 10px
  .panel-body
    .row:last-child
      height: 60px
  .dataTables_wrapper .table
    thead > tr
      .sorting:before, .sorting_asc:before, .sorting_desc:before
        position: absolute
        right: 6px
        bottom: 12px
    tbody
      td
        .badge
          margin: 0 0 0 5px
        &.modified, .modified
          font-weight: bold
  thead.search
    input
      width: 64px
      padding: 4px
      &:active, &:focus
        outline: none
    th.date input
      width: 48%
      &:first-child
        margin-right: 4%
  &.contractors
    .actions
      position: relative
      height: 60px
      .icon-button
        width: 250px
        position: absolute
        top: 0
        right: 0