.xenon.custom
  a
    &.teal
      color: teal
      &:hover, &:focus
        color: dark-teal
  .dataTables_paginate
    .pagination
      float: right
  .panel-options
    display: none
  .panel-heading
    height: 45px
    .btn
      float: right
      margin-top: -8px
      i
        font-size: 1.25em
        margin-top: -3px
        margin-right: 10px
  .panel-body
    .row:last-child
      height: 60px
  .dataTables_wrapper .table thead > tr
    .sorting:before, .sorting_asc:before, .sorting_desc:before
      position: absolute
      right: 6px
      bottom: 12px
  &.contractors
    .actions
      position: relative
      height: 60px
      .icon-button
        width: 250px
        position: absolute
        top: 0
        right: 0
