@font-face
  font-family: 'LatoBold'
  src: url('/type/lato/Lato-Bold.ttf') format('truetype')

@font-face
  font-family: 'LatoLight'
  src: url('/type/lato/Lato-Light.ttf') format('truetype')

@font-face
  font-family: 'LatoRegular'
  src: url('/type/lato/Lato-Regular.ttf') format('truetype')
