@font-face
  font-family: 'gotham-book'
  src: url('/type/gotham/gotham-book.woff') format('woff')

@font-face
  font-family: 'gotham-bold'
  src: url('/type/gotham/gotham-bold.woff') format('woff')

@font-face
  font-family: 'LatoBold'
  src: url('/type/lato/Lato-Bold.ttf') format('truetype')

@font-face
  font-family: 'LatoLight'
  src: url('/type/lato/Lato-Light.ttf') format('truetype')

@font-face
  font-family: 'LatoRegular'
  src: url('/type/lato/Lato-Regular.ttf') format('truetype')
