.home
  color: navy
  .title
    font-size: 28px
    font-weight: bold
    line-height: 28px
    text-align: center
    text-transform: uppercase
  .subtitle
    font-size: 18px
    text-align: center
  .arrow-down
    width: 0
    height: 0
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-top: 12px solid #3A4A61
    margin: 0 auto
  .hero
    background: url('/images/hero.jpg') no-repeat scroll 0 0 transparent
    color: white
    height: 605px
    margin-top: 85px
    width: 100%
    .title
      padding-top: 180px
    .subtitle
      margin-top: 10px
    .button
      display: block
      font-size: 18px
      font-weight: bold
      letter-spacing: 0.05em
      margin: 80px auto 0
      padding: 20px 30px
      text-transform: uppercase
      width: 200px
    .note
      font-size: 15px
      margin-top: 10px
      text-align: center
  .services,
  .how-it-works
    padding: 70px 30px
    position: relative
    text-align: center
    .subtitle
      color: dark-gray
      font-size: 16px
      margin-top: 10px
    .button
      padding: 15px 25px
      text-transform: uppercase
    ul
      margin: 50px 0 80px
      padding: 0
      li
        margin: 0 20px
        position: relative
        width: 250px
        display: inline-block
        vertical-align: top
        > div
          font-size: 16px
          font-weight: bold
          letter-spacing: 0.02em
          margin: 20px 0 10px
          text-transform: uppercase
        span
          color: dark-gray
          font-size: 14px
        img
          height: 150px
  .how-it-works
    background-color: red
    color: white
    display: none
    .subtitle
      color: white
    ul
      margin-bottom: 0
      li span
        color: white
  .features
    background: url('/images/bg_features.jpg') no-repeat scroll 0 0 transparent
    border-top: 5px solid white
    color: white
    height: 330px
    padding: 80px 30px 60px
    position: relative
    text-align: center
    ul
      margin: 80px 0 0
      padding: 0
      li
        margin: 0 20px 40px
        position: relative
        width: 450px
        display: inline-block
        vertical-align: top
        > div
          font-size: 15px
          font-weight: bold
          letter-spacing: 0.02em
          margin: 5px 0 5px 85px
          text-align: left
          text-transform: uppercase
        span
          display: block
          font-size: 13px
          margin-left: 85px
          text-align: left
        img
          float: left
          width: 70px
  .pricing
    margin: 0 auto
    padding: 70px 30px
    width: 900px
    .title
      margin-bottom: 70px
      text-align: left
    .input
      display: inline-block
      padding-right: 30px
      vertical-align: top
      width: 550px
      .sliders
        margin-top: 30px
        slider
          width: 330px
          .bar
            background-color: dark-gray
          .handle
            border: 3px solid teal
            border-radius: 0
            height: 16px
            width: 16px
            &:after
              background-color: dark-gray
              left: 4px
              top: 4px
            &.active:after
              background-color: dark-gray
          .bubble.value
            display: none
        .selection
          display: inline-block
          font-size: 13px
          text-transform: uppercase
          span
            background-color: red
            color: white
            display: inline-block
            font-weight: bold
            height: 30px
            line-height: 30px
            margin: 20px 10px 24px 0
            text-align: center
            vertical-align: middle
            width: 30px
          .arrow-left
            display: inline-block
            width: 0
            height: 0
            border-top: 5px solid transparent
            border-bottom: 5px solid transparent
            border-right: 5px solid red
            margin-left: 20px
      .options
        .label
          display: inline-block
          font-size: 15px
          margin: 8px 50px 0 10px
          text-transform: uppercase
          vertical-align: top
        .circle
          border: 3px solid teal
          border-radius: 50%
          cursor: pointer
          display: inline-block
          height: 26px
          padding: 3px
          outline: none
          width: 26px
          .active
            border-radius: 50%
            background-color: teal
            height: 100%
            width: 100%
    .details
      display: inline-block
      float: right
      vertical-align: top
      .price
        background-color: heavy-gray
        color: white
        font-size: 12px
        padding: 20px 30px
        text-align: center
        input
          background: transparent
          border: 0
          color: white
          font-size: 50px
          font-weight: bold
          width: 160px
        span
          display: inline-block
          font-size: 22px
          font-weight: bold
          margin: -28px 5px 0 0
          vertical-align: middle
      .button
        display: block
        margin-top: 20px
        text-transform: uppercase
  .offer
    background: url('/images/bg_triangles.png') repeat scroll 0 0 transparent
    color: white
    padding: 60px 30px
    .details
      margin: 0 auto
      position: relative
      width: 900px
      .title
        margin: 5px 0 10px
        text-align: left
      .subtitle
        font-size: 15px
        text-align: left
        span
          text-transform: uppercase
      .button
        font-weight: bold
        padding: 20px 40px
        position: absolute
        right: 0
        text-transform: uppercase
        top: 20px
  .testimonials
    padding: 70px 30px
    position: relative
    text-align: center
    .subtitle
      color: dark-gray
      font-size: 16px
      margin-top: 10px
    ul[rn-carousel]
      height: 200px
      margin: 50px auto 0
      width: 900px
      li
        color: darker-gray
        .text
          margin: 0 auto 30px
          text-align: center
          width: 600px
        .name
          font-size: 15px
          font-weight: bold
        .company
          font-size: 14px
      .rn-carousel-control
        top: 20%
        &.rn-carousel-control-next,
        &.rn-carousel-control-prev
          width: 0
          height: 0
          &:before
            content: ''
        &.rn-carousel-control-next
          border-top: 14px solid transparent
          border-bottom: 14px solid transparent
          border-left: 14px solid teal
        &.rn-carousel-control-prev
          border-top: 14px solid transparent
          border-bottom: 14px solid transparent
          border-right:14px solid teal
