/*--------------------------------*\
*************** RESET **************
\*--------------------------------*/


/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  /*font-size: 100%;*/
  /*font: inherit;*/
  /*vertical-align: baseline;*/
/*}*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body.pl {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pl ul {
  padding:0;
}

.clearfix{
  clear:both;
}

/*--------------------------------*\
****** 12-COL RESPONSIVE GRID ******
\*--------------------------------*/

/*  SECTIONS  */
.pl .section {
  width:100%;
  max-width:1200px;
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.pl .col {
  display: block;
  float:left;
  margin: 0 0 0 2%;
}
.pl .col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 */
}


/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.5%;
}
.span_10_of_12 {
  width: 83%;
}

.span_9_of_12 {
  width: 74.5%;
}

.span_8_of_12 {
  width: 66%;
}

.span_7_of_12 {
  width: 57.5%;
}

.span_6_of_12 {
  width: 49%;
}

.span_5_of_12 {
  width: 40.5%;
}

.span_4_of_12 {
  width: 32%;
}

.span_3_of_12 {
  width: 23.5%;
}

.span_2_of_12 {
  width: 15%;
}

.span_1_of_12 {
  width: 6.5%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
  .pl .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 768px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_11_of_12 {
    width: 100%;
  }
  .span_10_of_12 {
    width: 100%;
  }
  .span_9_of_12 {
    width: 100%;
  }
  .span_8_of_12 {
    width: 100%;
  }
  .span_7_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 100%;
  }
  .span_5_of_12 {
    width: 100%;
  }
  .span_4_of_12 {
    width: 100%;
  }
  .span_3_of_12 {
    width: 100%;
  }
  .span_2_of_12 {
    width: 100%;
  }
  .span_1_of_12 {
    width: 100%;
  }
}


/*--------------------------------*\
*********** TYPOGRAPHY *************
\*--------------------------------*/

body.pl{font-family:'Lato', sans-serif;}

.pl h1{font-size:2.25em; text-transform:uppercase; font-weight:700; line-height:1.5em; margin:0 0 0.5em 0;}
.pl h2{font-size:1.875em; text-transform:uppercase; font-weight:700; line-height:1.25em; margin:0 0 0.5em 0;}
.pl h3{font-size:1.125em; text-transform:uppercase; font-weight:400; line-height:1.5em; margin:0 0 0.25em 0;}
.pl h4{font-size:1.5em; text-transform:uppercase; font-weight:400; line-height:1.5em; margin:0 0 0.5em 0;}
.pl h5{font-size:0.875em; text-transform: uppercase; font-weight:700; line-height:1.5em; margin:0 0 0.5em 0;}
.pl h6{font-size:1.125em; font-weight:400; line-height:1.5em;margin:0;}

.pl p{font-size:0.875em; font-weight:400; line-height:1.5em; margin:0.5em 0 1em 0;}

a{
  color:#2baab0;
  text-decoration:none;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a:hover{}

.pl strong{font-weight:700;}
.pl em{font-style:italic;}

.pl hr{
  width:40px; height:1px;
  margin:50px auto;
  border:none;
}

.pl hr.dark{background:rgba(0,0,0,0.25);}
.pl hr.light{background:rgba(255,255,255,0.25);}
.pl hr.small{width:20px; margin:25px auto;}

.pl hr.alignleft{margin:50px 0;}

.pl small{}

.pl ol{
  margin:1.5em 0;
  list-style:decimal;
  list-style-position: inside;
  line-height:1.5em;
  font-size:0.875em;
  font-weight:300;
}

.pl ol li{
  margin:1em 0;
}

.pl ol li ol{
  margin-left:3em;
  list-style:lower-alpha;
}

.pl ol li ol li ol{
  list-style:decimal;
}

.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}

/* COLORS */
.pl .white{color:#fff;}
.pl .teal{color:#2baab0;}
.pl .gray{color:#75818f;}
.pl .dark-gray{color:#586066;}
.pl .navy{color:#2c3842;}
.pl .yellow{color:#e6c15d;}
.pl .red{color:#e26058;}

.pl .center{text-align:center;margin:20px auto;width:900px;}

@media only screen and (max-width: 768px) {
  .pl .center{width:auto;}
}

@media only screen and (max-width: 480px) {
  .pl .center{width:auto;}
}

/* BUTTONS */
.btn{
  display:inline-block;
  font-size:0.875em;
  color:#fff;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 0.25em;
  font-weight:700;
}

.primary{
  margin:0 0 1em 0;
  padding:2em;
  background:#e6c15d;
}
.primary:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.secondary{
  padding:1em 2em;
  background:#2baab0;
}

.secondary:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
  transform: scale(1.05);
}

.outlined{
  width:100%;
  margin:25px auto 0 auto;
  padding:1em 0;
  color:#2baab0;
  -webkit-box-shadow:inset 0 0 0 3px #2baab0;
  box-shadow:inset 0 0 0 3px #2baab0;
}

.cta{
  display:block;
  font-size:1.125em;
  color:#283036;
  text-transform:uppercase;
  font-weight:900;
}

.cta:hover{
  text-decoration:underline;
}

/*BACKGROUND PATTERNS*/

.teal-bg{background:url('/hw_images/bg_teal.png');}


@media only screen and (max-width: 480px) {

  h1{font-size:1.875em;}
  h2{font-size:1.5em;}
  h3{font-size:1em;}
  h4{font-size:1.125em;}
  h5{font-size:0.875em;}
  h6{font-size:1em;}

  p{font-size:0.875em; font-weight:300; line-height:1.5em; margin:0.25em 0 0.5em 0;}

  hr{
    margin:50px auto;
  }

}

/*--------------------------------*\
*********** NAVIGATION *************
\*--------------------------------*/

nav.pl-nav{
  width:95%;
  padding:0 2.5%;
  overflow:hidden;
  background:#fff;
}

.pl-logo{
  width:100%;
  max-width:140px;
  display:block;
  margin:30px 0 0 0;
  float:left;
}

.pl-logo img{
  width:100%;
}

nav.pl-nav ul li{
  display:inline;
}

ul.pl-main-nav{
  margin:0 0 0 25px;
  float:left;
  font-size:1.125em;
  font-weight:300;
  text-transform:uppercase;
}

ul.pl-main-nav li{
  display:block;
  margin:0.125em 0.5em 0 0.5em;
  float:left;
}

ul.pl-main-nav li a{
  display:block;
  padding:40px 0;
  color:#2c3842;
}

ul.pl-main-nav li a:hover{text-decoration:underline;}

ul.pl-main-nav li a.active{
  -webkit-box-shadow:inset 0 -5px 0 0 #e6c15d;
  box-shadow:inset 0 -5px 0 0 #e6c15d;
}

.pl-account-nav{
  margin:28px 0 0 0;
  float:right;
}

.pl-account-nav .phone_number {display: inline-block; font-size: 1.2em; font-weight: 600; margin-right: 30px;}
.pl-account-nav .btn{width:120px; padding:1em 0;}
.pl-signup{margin-left:10px; background:#2baab0;}
.login{background:#2a7376;}

@media only screen and (max-width: 768px) {
  .pl-account-nav .phone_number {
    display: none;
  }

  nav.pl-nav{
    width:100%;
    padding:0;
    overflow:hidden;
  }

  .pl-logo{
    width:50%;
    max-width:100%;
    margin:0;
    padding:1.5em 0;
    display:block;
    float:left;
  }

  .pl-logo img{
    max-width:140px;
    margin:0 0 0 5%;
  }

  ul.pl-main-nav{
    width:45%;
    margin:37px 0 0 0;
    padding:0 5% 0 0;
    text-align:right;
  }

  ul.pl-main-nav li{
    display:inline;
    margin:0.125em 0 0 1em;
    float:none;
  }

  ul.pl-main-nav li a{
    display:inline-block;
    padding:0;
  }

  ul.pl-main-nav li a.active{
    font-weight:400;
    -webkit-box-shadow:none;
    box-shadow:none;
  }

  .pl-account-nav{
    width:100%;
    margin:0;
    padding:0;
    float:none;
    overflow:hidden;
  }

  .pl-account-nav .btn{
    width:50%;
    margin:0;
    float:left;
  }

}

@media only screen and (max-width: 480px) {

  ul.pl-main-nav{
    margin:30px 0 0 0;
    line-height:1.5em;
  }

}


/*--------------------------------*\
*********** BODY STYLES ************
\*--------------------------------*/

.pl-panel{
  width:100%;
  padding:80px 0;
  text-align:center;
}

.pl .container{
  width:80%;
  max-width:1200px;
  margin:0 auto;
}

.clip-arrow{
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 51% 98%, 50% 100%, 49% 98%, 0 98%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 51% 98%, 50% 100%, 49% 98%, 0 98%);
}

.padded-content{
  width:80%;
  padding:0 10%;
}

.heading-container{
  width:70%;
  margin:0 auto;
}

.banner-generic{
  background:url(/hw_images/bg_blue.png) repeat;
}

/* FORMS */

.pl-form label{
  font-size:0.875em;
  color:#283036;
  font-weight:700;
}

.pl ::-webkit-input-placeholder {color: #aeb3bc; font-family:'Lato', sans-serif; font-weight:300;}
.pl :-moz-placeholder {color: #aeb3bc; font-family:'Lato', sans-serif; font-weight:300;}
.pl ::-moz-placeholder {color: #aeb3bc; font-family:'Lato', sans-serif; font-weight:300;}
.pl :-ms-input-placeholder {color: #aeb3bc; font-family:'Lato', sans-serif; font-weight:300;}

.pl-form .textfield, .pl-form .textarea{
  width:95%;
  margin:1em 0 0 0;
  padding:1em 2.5%;
  font-size:1em;
  border:1px solid #e5e5e5;
  border-radius:3px;
  color:#75818f;
  box-sizing: inherit;
}

.pl-form .textfield:focus, .pl-form .textarea:focus{
  outline:none;
  border-color:#283036;
}

.pl-form .textarea{
  height:80px;
}

@media only screen and (max-width: 768px) {

  .pl-form .textfield, .pl-form .textarea{
    width:90%;
  }

}

@media only screen and (max-width: 480px) {

  .pl-form .textfield, .pl-form .textarea{
    width:90%;
  }

}

.pl-form .btn{
  margin:0 25px 0 0;
  float:left;
}

.pl-form .btn:hover{
  text-decoration: none;
}

.pl-form small{
  font-size:0.675em;
  line-height:1.5em;
}

.pl-form a:hover{
  text-decoration: underline;
}


@media only screen and (max-width: 480px) {

  .clip-arrow{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 52% 98%, 50% 100%, 48% 98%, 0 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 52% 98%, 50% 100%, 48% 98%, 0 98%);
  }

}

@media only screen and (max-width: 480px) {

  .clip-arrow{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 53% 98%, 50% 100%, 47% 98%, 0 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 53% 98%, 50% 100%, 47% 98%, 0 98%);
  }

  .heading-container{
    width:100%;
    margin:0 auto;
  }

}


/*--------------------------------*\
************* HOMEPAGE ************
\*--------------------------------*/

/* BANNER */

#banner{
  padding:150px 0;
  text-align:center;
  background:url(/hw_images/header_home.jpg) center bottom no-repeat;
  background-size:cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 51% 98%, 50% 100%, 49% 98%, 0 98%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 51% 98%, 50% 100%, 49% 98%, 0 98%);
}

/* SERVICES */

#services{
  text-align:center;
}

.icon-service{
  width:80%;
  max-width:220px;
}

/* FEATURES */

#features{
  background:#2baab0;
}

.feature{
  width:100%;
  margin:0 0 30px 0;
  text-align:left;
}

.feature:last-child{
  margin:0;
}

.f-icon{
  width:14%; height:0;
  margin:0 3% 0 0;
  padding:14% 0 0 0;
  display:inline-block;
  vertical-align: top;
  position:relative;
  border-radius:50%;
  background:rgba(255,255,255,0.25);
}

.f-icon i{
  margin:-0.6em 0 0 -0.7em;
  position:absolute;
  top:50%; left:50%;
  font-size:2em;
  color:#fff;
}

.f-text{
  width:73%;
  display:inline-block;
  vertical-align: top;
}

/* TESTIMONIALS */

#testimonials{
  text-align:center;
}

.t-slider ul, .t-slider li {
  margin: 0;
  padding: 0;
  border: 0;
}

.t-slider ul li { float: left; }

.t-slider {
  margin:0 auto;
  position:relative;
  overflow:auto;
  width: 100%;
}
.t-slider li {
  font-size:1em;
  line-height:1.5em;
  font-weight:400;
  color:#979fa9;
  list-style: none;
}

.t-head{
  width:60px; height:60px;
  margin:25px auto;
  overflow:hidden;
  border-radius:50%;
}

.t-head img{
  width:100%;
}

.t-name{
  font-size:0.875em;
}

/* MORE TIME FOR X */

#more-time{
  padding:150px 0;
  text-align:center;
  background: url(/hw_images/activities.png) repeat center;
  background-size: 800px;
  /*-webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;*/
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#more-time h2{font-size:3em;}


/*--------------------------------*\
*************** ABOUT *************
\*--------------------------------*/

#banner-about{
  padding:150px 0;
  background:url(/hw_images/header_mission.jpg) center top no-repeat;
  background-size:cover;
}

/* MISSION + VALUES + COMMUNITY */

#mission{
  overflow:hidden;
}

#beach.container{
  padding-bottom:420px;
  overflow:hidden;
  background:url('/hw_images/bg_beach.png') center bottom no-repeat;
  background-size:contain;
}

#mission-text{
  width:70%;
}

#values-container{
  width:50%;
  margin-top:-30px;
  padding-bottom:240px;
  float:right;
  text-align:left;
  background:url('/hw_images/bg_cityblock.png') center bottom no-repeat;
  background-size:contain;
}

.value{
  margin:0 0 25px 0;
  overflow:hidden;
}

.v-icon{
  width:15%; height:0;
  display:inline-block;
  margin:0 5% 0 0;
  padding-top:15%;
  position:relative;
  vertical-align:middle;
  border-radius:50%;
  text-align:center;
  background:#2baab0;
}

.v-icon i{
  margin:-0.55em 0 0 -0.7em;
  position:absolute;
  top:50%; left:50%;
  font-size:2.9em;
  color:#fff;
}

.v-text {
  width:72%;
  display:inline-block;
  position: relative;
  padding: 10px 4%;
  vertical-align: middle;
  background: #979fa9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.v-text:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #979fa9;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -5px;
  left: -5px;
  top: 50%;
}

#community-container{
  width:40%;
  margin-top:160px;
  float:left;
}

.member{
  padding:25px 0;
  text-align:left;
  border-top:1px solid #e5e5e5;
  overflow:hidden;
}

.member:last-child{
  border-bottom:1px solid #e5e5e5;
}

.member img{
  width:25%;
  display:inline-block;
  margin:0 5% 0 0;
  vertical-align: middle;
}

.m-text{
  width:70%;
  display:inline-block;
  vertical-align: middle;
}

/* TRUST & SAFETY */

#trust-safety{
  background:#f7f7f7;
}

#trust-safety i{
  font-size:3em;
}

/* TECH */

#about-tech{
  background:url('/hw_images/bg_tech.jpg') center no-repeat;
  background-size:cover;
}

#tech-text{
  position:relative;
  margin:0 0 60px 0;
}

.t-desc{
  width:30%;
  text-align:center;
}

#hosts{
  margin:0 0 0 13%;
  float:left;
}

#housekeepers{
  margin:0 -1% 0 0;
  float:right;
}

.device{
  position:relative;
}

.device img{
  width:100%;
}

#macbook{
  width:70%;
  margin-left:-7%;
  float:left;
}

#iphone{
  width:23%;
  margin-top:-2%;
  margin-right:2%;
  float:right;
}

#tech-arrows{
  width:20%;
  position:absolute;
  top:25%; left:-48%;
}

.tech-num{
  width:30px; height:24px;
  display:block;
  padding:6px 0 0 0;
  border-radius:50%;
  text-align:center;
  font-weight:700;
  color:#2baab0;
  position:absolute;
  background:#fff;
}

#one{top:-2%; left:7%;}
#two{top:1%; right:1%;}
#three{top:77.5%; left:-3.5%;}

/* TOOLTIPS */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.pl-tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.pl-tooltip:before,
.pl-tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.pl-tooltip:hover:before,
.pl-tooltip:hover:after,
.pl-tooltip:focus:before,
.pl-tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.pl-tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.pl-tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 10px;
  width:180px;
  border-radius:3px;
  background-color: #e6c15d;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.5em;
  font-family:'Lato', sans-serif;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.pl-tooltip:before,
.pl-tooltip:after,
.pl-tooltip-top:before,
.pl-tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.pl-tooltip:before,
.pl-tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #e6c15d;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.pl-tooltip:after,
.pl-tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.pl-tooltip:hover:before,
.pl-tooltip:hover:after,
.pl-tooltip:focus:before,
.pl-tooltip:focus:after,
.pl-tooltip-top:hover:before,
.pl-tooltip-top:hover:after,
.pl-tooltip-top:focus:before,
.pl-tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.pl-tooltip-left:before,
.pl-tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.pl-tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #e6c15d;
}

.pl-tooltip-left:hover:before,
.pl-tooltip-left:hover:after,
.pl-tooltip-left:focus:before,
.pl-tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.pl-tooltip-bottom:before,
.pl-tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.pl-tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #e6c15d;
}

.pl-tooltip-bottom:hover:before,
.pl-tooltip-bottom:hover:after,
.pl-tooltip-bottom:focus:before,
.pl-tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.pl-tooltip-right:before,
.pl-tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.pl-tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #e6c15d;
}

.pl-tooltip-right:hover:before,
.pl-tooltip-right:hover:after,
.pl-tooltip-right:focus:before,
.pl-tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.pl-tooltip-left:before,
.pl-tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.pl-tooltip-left:after,
.pl-tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

/* CTA */

#about-cta{
  background:url('/hw_images/bg_teal.png') repeat;
}

@media only screen and (max-width: 1024px) {

  #beach.container{
    padding-bottom:300px;
  }

  #values-container{
    width:50%;
    margin-top:0;
  }

  .v-icon i{
    margin:-0.6em 0 0 -0.7em;
    font-size:2.25em;
  }

}

@media only screen and (max-width: 960px) {

  #beach.container{
    padding-bottom:350px;
  }

  #mission-text{
    width:100%;
  }

  #values-container{
    width:100%;
    margin:0 auto;
    padding-bottom:180px;
    float:none;
    background-size:500px;
    background-position:bottom left;
  }

  .v-icon i{
    margin:-0.5em 0 0 -0.7em;
    font-size:4em;
  }

  #community-container{
    width:100%;
    margin-top:60px;
    float:none;
  }

}

@media only screen and (max-width: 768px) {

  #beach.container{
    margin:0;
    padding:0 10% 250px 10%;
    background-size:600px;
    overflow:visible;
    background-position:bottom center;
  }

  .v-icon i{
    margin:-0.6em 0 0 -0.7em;
    font-size:2.75em;
  }

  #trust-safety .col{
    margin-bottom:40px;
  }

  #trust-safety .col:last-child{
    margin-bottom:0;
  }

  #about-tech .container{
    position:relative;
  }

  #tech-text{
    margin:0 0 60px 0;
    position:static;
  }

  #hosts{
    width:60%;
    margin:0 auto;
    float:none;
  }

  #housekeepers{
    width:50%;
    margin:0;
    float:none;
    position:absolute;
    text-align:left;
    top:70%;
  }

  #macbook{
    width:100%;
    margin:0;
    float:none;
  }

  #iphone{
    width:30%;
    margin:25% 10% 0 0;
  }

  #tech-arrows{
    width:30%;
    top:-60%; left:-48%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

}

@media only screen and (max-width: 480px) {

  #beach.container{
    margin-bottom:40px;
    padding-bottom:240px;
    background-position:bottom left;
  }

  #values-community.container{
    margin:0;
  }

  #values-container{
    padding-right:10%;
    padding-left:10%;
    overflow:visible;
    background-position:bottom center;
  }

  #values-container h2{text-align:left;}

  .v-icon i{
    margin:-0.6em 0 0 -0.7em;
    font-size:1.75em;
  }

  #community-container{
    padding-right:10%;
    padding-left:10%;
  }

  #hosts{
    width:65%;
  }

  #housekeepers{
    width:48%;
  }

}

/*--------------------------------*\
************* PRICING **************
\*--------------------------------*/

#banner-pricing{
  background:#f5f5f5;
}

/* PRICE TABLE */

.p-content{
  width:70%;
  padding:30px 15%;
  background:#fff;
}

#price-table table{
  width:100%;
  margin:40px 0 25px 0;
  text-align:left;
  text-transform: uppercase;
  font-size:0.875em;
}

#price-table table tr{
  border-bottom:1px solid #f1f1f1;
}

#price-table table tr td{
  padding:1em 0;
}

#price-table table tbody td{
  font-weight:300;
}

#price-table .outlined{
  margin-top:0;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
  position: relative;
  outline: none;
}

#price-table .outlined span {
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

#price-table .outlined .circle{
  background-color: #40bcbc;
  border-radius: 50%;
  padding: 3px;
  color: #fff;
  position: absolute;
  right: 9px;
  top: 9px;
  width: 18px;
  height: 18px;
}

#price-table .outlined .circle i{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
  display: inline-block;
  margin: 3px 0 0 2px;
}

#p-housekeeping{
  -webkit-box-shadow:inset 0 10px 0 0 #2baab0;
  box-shadow:inset 0 10px 0 0 #2baab0;
}

#p-linens{
  -webkit-box-shadow:inset 0 10px 0 0 #3185BE;
  box-shadow:inset 0 10px 0 0 #3185BE;
}

#p-toiletries{
  -webkit-box-shadow:inset 0 10px 0 0 #e6c15d;
  box-shadow:inset 0 10px 0 0 #e6c15d;
}

.p-gray{
  margin-top:1em;
  -webkit-box-shadow:inset 0 10px 0 0 #979fa9;
  box-shadow:inset 0 10px 0 0 #979fa9;
}

.p-light-gray{
  margin-top:1em;
  -webkit-box-shadow:inset 0 10px 0 0 #DCDEE2;
  box-shadow:inset 0 10px 0 0 #DCDEE2;
}

.p-teal{
  margin-top:1em;
  -webkit-box-shadow:inset 0 10px 0 0 #40bcbc;
  box-shadow:inset 0 10px 0 0 #40bcbc;
}

.p-gray i{
  margin:1em 0 0 0;
}

#p-linens .p-program {
  margin-top: 10px;
}

#p-linens .p-program td {
  padding: 25px 0;
}

#p-linens .p-program img {
  width: 150px;
  margin-left: -20px;
}

#p-linens .p-program #rental-program img {
  margin-left: -10px;
}

#p-linens .p-program #rental-program .outlined span {
  color: #F8A034;
}

#p-linens .outlined {
  color: #3185BE;
  margin-top: 30px;
}

#p-linens .outlined .circle {
  background-color: #3185BE;
}

#p-linens .p-caption{
  font-weight: 300;
  margin-top: 30px;
  font-size: 0.8em;
}

#p-linens .p-program .outlined{
  color: #3185BE;
  padding: 7px;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

#p-linens .p-program .p-caption {
  margin-top: 10px;
  line-height: 16px;
}

#p-laundry{
  width: 90%;
  padding: 30px 5%;
}

#p-laundry .outlined{
  color: #F05D69;
  padding: 7px;
  width: 70%;
  text-align: center;
}

#p-laundry .p-caption{
  font-weight: 300;
  margin-top: 30px;
  font-size: 0.8em;
  line-height: 16px;
}

#p-laundry .p-left{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

#p-laundry .p-left img{
  width: 150px;
}

#p-laundry .p-right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-top: 25px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #price-table .outlined .circle{
    display: none;
  }
  #p-linens .p-program img {
    width: 120px;
  }
  #p-laundry .p-left img {
    width: 120px;
  }
  #p-laundry .p-right {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  #p-housekeeping .outlined span:first-child, #p-home-staging .outlined span:first-child{
    margin-left: -20px;
  }
  #p-linens .p-program img {
    width: 120px;
  }
  #p-laundry .p-left img {
    width: 120px;
  }
  .p-content {
    width: 80%;
    padding: 30px 10%;
  }
}

#price-table table.p-details{
  margin-top:15px;
  border-top:1px solid #f1f1f1;
}

.p-details tr td{
  font-size:0.875em;
  text-transform: none;
}

#logo-cob{
  width:100%;
  margin:0 0 25px 0;
  padding:0px 0 25px 0;
  border-bottom:1px solid #f1f1f1;
}

.p-extra{
  margin:50px 0 0 0;
  overflow:hidden;
  text-align:left;
}

.p-extra i{
  margin:0 20px 0 0;
  float:left;
  font-size:5em;
}


/*--------------------------------*\
**************** FAQ ***************
\*--------------------------------*/

#banner-faq{
  background:url(/hw_images/bg_blue.png) repeat;
}

.faq-search{
  overflow:hidden;
}

.faq-search input[type='text']{
  width:100%;
  padding:1em 3.5em;
  font-family:'Lato', sans-serif;
  color:#fff;
  font-size:1.125em;
  font-weight:300;
  border:none;
  position:relative;
  background:rgba(255,255,255,0.5);
}

input#search-field::-webkit-input-placeholder {color: #fff;}
input#search-field:-moz-placeholder {color: #fff;}
input#search-field::-moz-placeholder {color: #fff;}
input#search-field:-ms-input-placeholder {color: #fff;}

.faq-search input[type='text']:focus{
  outline:none;
  border:none;
}

.faq-search input[type='text']::after{
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color:#fff;
  position:absolute;
  top:1em; left:1em;
}

.pl-search{
  width:100%;
  padding:1.6em 0;
  background:#e6c15d;
}

ul.faq-categories{
  margin:50px 0 0 0;
  font-size:0.875em;
  text-transform:uppercase;
}

ul.faq-categories li{
  display:inline-block;
  margin:0 0.5em;
}

ul.faq-categories li a{
  display:block;
  padding:0 0 25px 0;
  color:#fff;
}

ul.faq-categories li a:active, ul.faq-categories li a:focus {
  outline: none;
}

ul.faq-categories li a strong{
  font-weight:300;
}

ul.faq-categories li.active a, ul.faq-categories li.active a strong{
  border:none;
  font-weight:700;
}

/* QUESTIONS & ANSWERS */

#faq{
  background:url(/hw_images/bg_faq.jpg) bottom left no-repeat;
}

#faq .outlined{
  width:auto;
  padding:1em 2em;
  display:inline-block;
  font-size:24px;
  letter-spacing:0;
}

.question{
  background-color:#fff;
  opacity:0.9;
  margin:0 0 25px 0;
  padding:1em 2em;
  overflow:hidden;
  position:relative;
  font-size:1.125em;
  font-weight:400;
  color:#2c3842;
  line-height:1.5em;
  text-align:left;
  border:1px solid #e5e5e5 ;
}

.question:hover {
  cursor: pointer;
}

.question::after{
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position:absolute;
  top:1em; right:2em;
}

.question.active::after{
  content: "\f0d7";
}

.question .answer{
  height:0;
  overflow:hidden;
  border:none;
}

.question.active .answer{
  height:auto;
  margin:1em 0 0 0;
  padding:1em 0 0 0;
  font-size:0.875em;
  color:#75818f;
  border-top:1px solid #e5e5e5;
}


/*--------------------------------*\
*********** CONTRACTORS ************
\*--------------------------------*/

#banner-gray{
  background:#f7f7f7;
}

#banner-contractors{
  padding:80px 0 0 0;
  background:url('/hw_images/bg_contractor.jpg') center top no-repeat;
  background-size:cover;
}

#banner-contractors .container{
  overflow:hidden;
}

#contractor-banner-image{
  width:35%;
  float:left;
  overflow:hidden;
}

#team-members{
  width:100%;
  display:block;
}

#contractor-banner-text{
  width:60%;
  float:right;
}

#why-join{
  margin:0 0 0 50px;
  font: 1.5em 'Lato', sans-serif;
  color:#fff;
  line-height:1.5em;
  list-style:disc;
  text-align:left;
}

#apply-btn{
  margin:2em 0 0 28px;
  width:350px;
  float:left;
}

#contractor-perks{
  background:#f7f7f7;
}

#contractor-perks i{
  font-size:3.5em;
}

#basic-requirements{
  list-style:disc;
  list-style-position: inside;
  font-size:0.875em;
  line-height:1.5em;
}

#basic-requirements li{
  margin-bottom:0.75em;
}

#basic-requirements li:last-child{
  margin-bottom:0;
}

.cont-testimonial{
  width:60%;
}

.cont-testimonial:first-child{
  margin:60px 0 20px 10%;
}

.cont-testimonial:last-child{
  margin:0 10% 0 0;
}

.speech-bubble {
  width: 90%;
  padding: 10px 5%;
  position: relative;
  border: #2baab0 solid 3px;
  text-align:center;
  background:#ffffff;
}

.test-byline{
  margin:20px 0 0 0;
  overflow:hidden;
}

.test-byline p{
  margin:18px 0 0 0;
}

.cont-testimonial.left{
  float:left;
}

.cont-testimonial.left .speech-bubble:after {
  content: '';
  width: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #ffffff transparent;
  z-index: 1;
  bottom: -5px; left: 23px;
}

.cont-testimonial.left .speech-bubble:before
{
  content: '';
  width: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #2baab0 transparent;
  z-index: 0;
  bottom: -10px; left: 21px;
}

.cont-testimonial.left img{
  margin:0 20px 0 0;
  float:left;
}

.cont-testimonial.right{
  float:right;
}

.cont-testimonial.right .speech-bubble:after {
  content: '';
  width: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #ffffff transparent;
  z-index: 1;
  bottom: -5px; right: 23px;
}

.cont-testimonial.right .speech-bubble:before
{
  content: '';
  width: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #2baab0 transparent;
  z-index: 0;
  bottom: -10px; right: 21px;
}

.cont-testimonial.right img{
  margin:0 0 0 20px;
  float:right;
}

.cont-testimonial.right .test-byline p{
  text-align:right;
}

@media only screen and (max-width: 1080px) {

  #banner-contractors h1{font-size:2em;}

}

@media only screen and (max-width: 980px) {

  #banner-contractors{
    padding:80px 0;
    position:relative;
  }

  #banner-contractors h1{font-size:1.875em;}

  #contractor-banner-image{
    position:absolute;
    right:20px; bottom:0;
    float:none;
  }

  #contractor-banner-text{
    width:100%;
    float:none;
  }

  #why-join{
    font-size:1.25em;
  }

}

@media only screen and (max-width: 768px) {

  #contractor-perks .col{
    margin-bottom:40px;
  }

  #contractor-perks .col:last-child{
    margin-bottom:0;
  }

  #contractor-info .container{
    width:100%;
  }

  .cont-testimonial:last-child{
    margin:0 10% 50px 0;
  }

}

@media only screen and (max-width: 530px) {

  #banner-contractors{
    padding:80px 0;
    position:relative;
  }

  #banner-contractors h1{text-align:center;}

  #contractor-banner-image{
    position:static;
    width:90%;
    margin:0 auto;
    border-bottom:1px solid rgba(255,255,255,0.5);
  }

  .team-crop{
    width:60%;
    margin:0 auto;
  }

  #contractor-banner-text{
    width:100%;
    margin:0 auto;
  }

  #why-join{
    margin-left:0;
    font-size:1em;
    text-align:center;
    list-style: none;
  }

  #why-join li::before{
    content:'+ ';
    font-weight:300;
  }

  #why-join li::after{
    content:' +';
    font-weight:300;
  }

  #apply-btn{
    float:none;
    margin-left:0;
    width: 100%;
    padding: 2em 0;
  }

}

/*--------------------------------*\
************** CONTACT *************
\*--------------------------------*/

.pl-confirmation {
  color: #2BAAB1;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  top: 25px;
  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .pl-confirmation{
    top: 5px;
  }
}

#banner-contact{
  background:url(/hw_images/bg_contact.jpg) center top no-repeat;
  background-size:cover;
}

#banner-contact .call{
  margin-top: 50px;
  color: #979fa9;
  height: 44px;
  line-height: 44px;
  vertical-align: top;
}

#banner-contact strong, #banner-contact span{
  display: inline-block;
  height: 44px;
  line-height: 44px;
  vertical-align: top;
}

#banner-contact .call img{
  width: 44px;
  margin-right: 20px;
}

.contact-form{
  width:86%;
  max-width:480px;
  margin:0 auto;
  padding:7% 7%;
  text-align:left;
  background:#fff;
  position:relative;
}

.contact-form .section{
  margin:0 0 25px 0;
}

@media only screen and (max-width: 480px) {
  .contact-form{
    padding:15% 7%;
  }
}

@media only screen and (max-width: 768px) {

  #banner{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 52% 98%, 50% 100%, 48% 98%, 0 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 52% 98%, 50% 100%, 48% 98%, 0 98%);
  }

  #services .col{
    padding:50px 0 0 0;
  }

  #services .col:first-child{
    padding:0;
  }

  .icon-service{
    max-width:180px;
  }

  /* FEATURES */

  #features{
    text-align:center;
    overflow:hidden;
  }

  .feature{
    margin-bottom:30px;
  }

  .f-icon i{
    margin:-0.6em 0 0 -0.7em;
    font-size:2.75em;
  }

  /* MISSION */

  #mission-list{
    padding:50px 0;
  }

  #mission-list .col{
    padding:50px 0 0 0;
  }

  #mission-list .col:first-child{
    padding:0;
  }

  /* PRICING */

  #price-table .col{
    margin-bottom:40px;
  }

  .p-extra{
    width:100%;
    margin:0 auto;
    text-align:center;
  }

  .p-extra:first-child{
    margin:0 auto;
  }

  .p-extra i{
    margin:0 auto;
    font-size:3em;
    float:none;
  }

  i.icon-tp::before{
    margin-top:20px;
  }


}

@media only screen and (max-width: 480px) {

  #banner{
    padding:80px 0;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 53% 98%, 50% 100%, 47% 98%, 0 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 53% 98%, 50% 100%, 47% 98%, 0 98%);
  }

  .icon-service{
    max-width:120px;
  }

  .feature{
    margin-bottom:40px;
  }

  .f-icon{
    width:20%;
    padding-top:20%;
    display:block;
    margin:0 auto;
  }

  .f-icon i{
    margin:-0.6em 0 0 -0.7em;
    font-size:2em;
  }

  .f-text{
    display:block;
    margin:25px auto 0 auto;
    text-align:center;
  }

  #more-time h2{font-size:2.25em;}
}


/*--------------------------------*\
************** FOOTER *************
\*--------------------------------*/

footer.pl-footer{
  width:100%;
  padding:80px 0;
  background:#283036;
}

footer ul li a:hover{
  text-decoration:underline;
}

.pl-footer .btn{
  float:right;
}

ul.footer-nav{
  line-height:2em;
}

ul.footer-nav li a{
  color:#fff;
}

footer.colophon{
  width:100%; height:50px;
  color:#75818f;
  font-size:0.75em;
  text-transform:uppercase;
  background:#181d21;
}

.colophon ul li{
  display:inline;
}

ul.legal{
  float:left;
  margin-top:20px;
}

ul.legal a{
  color:#fff;
}

ul.legal li::after{
  content:'|';
  margin:0 10px;
}

ul.legal li:last-child::after{
  display:none;
}

ul.social{
  float:right;
  margin-top:13px;
}

ul.social li a{
  width:24px; height:24px;
  margin:0 0 0 5px;
  display:inline-block;
  text-indent:-9999em;
  background:url(/hw_images/icons_social.png) no-repeat;
  background-size:cover;
}

#fb{ background-position:left;}
#tw{background-position:center;}
#li{background-position:right;}

footer.pl-footer .outlined{
  width:auto;
  clear:both;
  padding: 1em 2.3em;
}


@media only screen and (max-width: 1299px) {

  footer.pl-footer .col{
    width:20%;
    overflow:auto;
    float:left;
  }

  footer.pl-footer .col:last-child{
    width:40%;
    overflow:hidden;
    float:right;
  }

  .pl-footer .btn{
    width:100%;
    padding:1.5em 0;
    float:right;
  }

  footer.pl-footer .outlined{
    width:100%;
    padding:1.5em 0;
  }

}

@media only screen and (max-width: 959px) {

  footer.pl-footer .col{
    width:30%;
    margin:0;
  }

  footer.pl-footer .col:last-child{
    width:40%;
  }

  footer.colophon{
    height:auto;
    padding:1.5em 0;
    text-align:center;
  }

  ul.legal, ul.social{
    float:none;
    text-align:center;
  }

  ul.legal li{
    line-height:2em;
  }

  ul.social{
    margin-top:25px;
  }

}

@media only screen and (max-width: 600px) {

  footer.pl-footer{
    padding:40px 0;
  }

  footer.pl-footer .col{
    width:100%;
    text-align:center;
    float:none;
  }

  footer.pl-footer .col:last-child{
    width:100%;
    margin:25px 0 0 0;
  }

  footer.pl-footer .col ul{
    margin:0 auto;
  }

  .pl-footer .btn{
    width:auto;
    padding:1.5em 2em;
    float:none;
  }

  footer.pl-footer .outlined{
    width:auto;
    float:none;
    padding: 1.5em 2.3em;
  }

}
