@font-face {
  font-family: 'hwpl_icons';
  src: url('/type/hwpl-icons/hwpl_icons.eot?80817559');
  src: url('/type/hwpl-icons/hwpl_icons.eot?80817559#iefix') format('embedded-opentype'),
  url('/type/hwpl-icons/hwpl_icons.woff?80817559') format('woff'),
  url('/type/hwpl-icons/hwpl_icons.ttf?80817559') format('truetype'),
  url('/type/hwpl-icons/hwpl_icons.svg?80817559#hwpl_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hwpl_icons';
    src: url('../fonts/hwpl_icons.svg?80817559#hwpl_icons') format('svg');
  }
}
*/

.pl [class^="icon-"]:before, .pl [class*=" icon-"]:before {
  font-family: "hwpl_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  font-smooth: never;
  -webkit-font-smoothing : antialiased;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.pl .icon-od:before { content: '\e800'; } /* '' */
.pl .icon-hotel:before { content: '\e801'; } /* '' */
.pl .icon-money:before { content: '\e802'; } /* '' */
.pl .icon-cash:before { content: '\e803'; } /* '' */
.pl .icon-stars:before { content: '\e804'; } /* '' */
.pl .icon-guarantee:before { content: '\e805'; } /* '' */
.pl .icon-insurance:before { content: '\e806'; } /* '' */
.pl .icon-bg:before { content: '\e807'; } /* '' */
.pl .icon-ent:before { content: '\e808'; } /* '' */
.pl .icon-tp:before { content: '\e809'; } /* '' */
.pl .icon-mobile:before { content: '\e80a'; } /* '' */
.pl .icon-calendar:before { content: '\e80b'; } /* '' */
.pl .icon-fun:before { content: '\e80c'; } /* '' */
.pl .icon-integrity:before { content: '\e80d'; } /* '' */
.pl .icon-community:before { content: '\e80e'; } /* '' */
.pl .icon-create:before { content: '\e80f'; } /* '' */
.pl .icon-fees:before { content: '\e810'; } /* '' */
