black = #272727
red = #C41348
green = #88c425
light-grey = #ccc

facebook-blue = #3d599b
twitter-blue  = #00abee

@keyframes fadein {
    from {opacity: 0}
    to   {opacity: 1}
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

html, body, .body
  height: 100%
  margin: 0
  font-family: Open Sans, Helvetica Neue,HelveticaNeue,Helvetica, Arial, sans-serif
  color: black
  font-size: 100%
  
header
  padding: 10px
  border-bottom: thin solid light-grey
  .logo
    img
      width: 40px
    .text
      display: inline-block
      vertical-align: top
      margin: 10px 0 0 15px
      font-size: 1.75em
  nav
    float: right
    margin-top: 20px
    .link
      display: inline-block
      vertical-align: top
      margin: 0 10px
      a
        color: black
        text-decoration: none
        &:hover
          color: red
          
.body
  width: 976px
  margin: 40px auto
          
form
  .button
    margin: auto
    text-align: center
  button
    border: 2px solid red
    width: 220px
    border-radius: 3px
    margin: 25px auto
    padding: 8px 4px 10px 6px
    background: white
    &:focus, &:active
      outline: none
    &:hover
      background-color: red
      color: white
      cursor: pointer
    .text
      margin-right: 6px
    .typn
      margin-top: -1px
    .text, .typcn
      display: inline-block
      vertical-align: top

#signup, #signin
  width: 600px
  margin: 40px auto
  text-align: center
  position: relative
  .title
    font-size: 2em
    margin-bottom: 25px
  .field
    margin: 15px
    input
      padding: 8px 12px
      border: thin solid light-grey
      border-radius: 3px
      width: 300px
      &:focus
        outline: none
  .form-container
    overflow: hidden
    .steps
      width: 2400px
      transition: margin-left .6s ease
      .step
        width: 600px
        display: inline-block
        vertical-align: top
  .flash
    position: absolute
    top: -50px
    width: 400px
    left: 50%
    margin-left: -200px
      
.flash
  border-radius: 3px
  box-sizing: border-box
  color: white
  opacity: 0
  transition: opacity .6s ease
  padding: 6px
  text-align: center
  height: 34px
  &.success
    background-color: green
  &.failure
    background-color: red
      
#search
  width: 600px
  margin: auto
  input
    width: 100%
    padding: 8px 12px
    border-radius: 3px
    border: thin solid light-grey
    
.body .page-title
  font-size: 2em
  text-align: center
  
.step-circles
  text-align: center
  margin: 40px 0 10px
  .step
    display: inline-block
    vertical-align: top
    background-color: light-grey
    border-radius: 99px
    width: 40px
    height: 40px
    margin: 0 15px
    color: white
    &.active
      background-color: red
    .num
      font-size: 1.5em
      margin-top: 2px
      
#property-form-container
  overflow: hidden
  width: 600px
  margin: auto
  .flash
    width: 400px
    margin: 20px auto
  .steps
    width: 2400px
    transition: margin-left .6s ease
    .step
      width: 600px
      display: inline-block
      vertical-align: top
      position: relative
      form
        .section
          .title
            font-size: 1.5em
            margin-bottom: 20px
            text-align: center
          .row
            margin: 20px 0
            &.two
              .field
                display: inline-block
                vertical-align: top
                margin-right: 15px
                &:last-child
                  margin-right: 0
                .select2-container
                  width: 290px
            .field
              width: 290px
              input
                padding: 8px 12px
                border-radius: 3px
                border: thin solid light-grey
                width: 100%
                box-sizing: border-box
                &:focus
                  outline: none
  .services
    .service
      background-color: light-grey
      width: 100px
      height: 100px
      display: inline-block
      vertical-align: top
      margin: 0 25px
      border-radius: 99px
      .text
        text-align: center
        width: 80px
        margin: 25px auto
      &:hover, &.active
        background-color: red
        color: white
        cursor: pointer
      &:hover.active
        background-color: light-grey
        color: black
      &.selecting
        background-color: light-grey !important
        color: black
      &.active.selecting
        background-color: red !important
        color: white
calendar
  .arrows
    position: absolute
    left: 0
    right: 0
    z-index: 10
    .arrow
      font-size: 1.5em
      &:hover
        cursor: pointer
      &.prev
        float: left
        .typcn::before
          content: '\e00d'
      &.next
        float: right
        .typcn::before
          content: '\e01a'
  .table
    text-align: center
    table
      width: 599px
      thead
        th
          font-size: 1.5em
          padding-bottom: 20px
      tbody
        td
          padding: 18px
          border: thin solid light-grey
          &.inactive
            color: white
          &.active:hover
            background-color: #efefef
            cursor: pointer
          &.selecting
            background-color: red !important
            color: white
          &.chosen
            background-color: red
            color: white
            &:hover
              background-color: #efefef
              color: black
            &.selecting
              background-color: white !important
              color: black
              
#home
  #add-property
    text-decoration: none
    .text
      width: 200px
      margin: 50px auto
      text-align: center
      background-color: red
      padding: 10px
      border-radius: 3px
      color: white
      border: 2px solid white
    &:hover .text
      border: 2px solid red
      background-color: white
      color: black
  #properties
    margin-top: 50px
    .property
      border: thin solid #ccc
      width: 500px
      padding: 15px
      margin: 20px auto
      border-radius: 3px
   
.payment
  color: #888
  width: 410px
  margin: auto
  .cards
    background-color: #eee
    border: thin solid grey
    border-radius: 3px
    .card
      padding: 12px 20px
      .text
        display: inline-block
        vertical-align: top
        margin-top: 2px
        font-size: 1.2em
        font-weight: 800
      input
        margin: 7px 10px 0 1px
        display: inline-block
        vertical-align: top
      img
        float: right
      &:hover, &.chosen
        background-color: green
        color: white
        cursor: pointer
        .text
          font-weight: 600
  .card-entry
    border: thin solid #ccc
    border-radius: 3px
    .title
      margin-top: 20px
      background-color: #eee
      padding: 10px
      font-weight: bold
      font-size: 1.1em
      img
        float: right
    .card-details
      padding: 20px
      .field
        display: inline-block
        .label
          font-size: .75em
          color: grey
          text-transform: uppercase
          font-weight: bold
          margin-bottom: 5px
        &.card-number
          input
            width: 185px
            margin-right: 17px
        &.expiry
          input
            width: 74px
        &.cvc
          margin: 12px 0 0 17px
          input
            width: 54px

.select2-container
  vertical-align: top
  border-bottom: 2px solid white
  padding-bottom: 0 !important
  border: none !important
  a
    background: none !important
    border: thin solid light-grey !important
    border-radius: 3px
    color: white
    box-shadow: none !important
    padding: 6px 12px !important
    .select2-arrow
      display: none !important
    .select2-chosen
      margin-right: 0

.select2-drop
  margin-top: 0px !important
  border: thin solid light-grey !important
  border-top: none !important
  .select2-result-label
    .state
      font-size: .8em
      color: #aaa
      margin-left: 10px
      display: inline-block
      vertical-align: top
      margin-top: 2px
  .select2-search
    margin-top: 5px
