html
  height: 100%

html, body, .body
  min-height: 100%
  margin: 0
  font-family: Lato
  color: black
  font-size: 100%
  position: relative
  @media phone
    font-size: 98%

body
  display: inline-block
  width: 100%

.body, .grey
  background-color: gray

.plain
  nav.pl-nav
    height: 100px
  .page-title
    width: 80%
    margin: 30px auto 0
    font-size: 25px
    i
      margin-right: 10px

#spin-overlay, #spinner-overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  z-index: -1
  transition: opacity 0.5s ease-in-out
  &.active
    opacity: 1
    z-index: 999999999
    .overlay
      opacity: 0.8
  .overlay
    background-color: black
    opacity: 0
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: opacity 0.5s ease-in-out
  .spinner
    text-align: center
    font-size: 26px
    position: relative
    width: 80px
    position: fixed
    top: 50%
    left: 50%
    margin-left: -40px
    div
      display: inline-block
      width: 18px
      height: 18px
      border-radius: 100%
      background-color: teal
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    .one
      -webkit-animation-delay: -0.32s
      animation-delay: -0.32s
    .two
      margin: 0 10px
      -webkit-animation-delay: -0.16s
      animation-delay: -0.16s

.pricing-body, .faq-body, .contact-body, .quiz-body
  .body
    margin: 0 0 0 240px
    padding: 0
    @media landscape_tablet
      margin: 0 0 0 80px
    @media portrait_tablet
      margin: 0 0 0 80px
    @media phone
      margin: 0

.faq-body
  .body
    background-color: white
    .pl
      margin-top: 68px
      .pl-search
        padding: 1.5em 0

.contact-body
  .body
    background-color: white
    .pl
      margin-top: 68px

.quiz-body
  .body
    background-color: white
    .quiz-container
      margin-top: 68px

.first-property-body
  background: url('/images/first_time_graphic.png') no-repeat scroll 240px 0 #CED2D8
  background-size: 1688px 640px
  .body
    background-color: transparent
    padding: 0 200px
    @media landscape_tablet
      padding: 0 100px
    @media portrait_tablet
      padding: 0 50px
    @media phone
      padding: 0 10px
      margin-top: 100px
  @media landscape_tablet
    background-position: 80px 0
  @media portrait_tablet
    background-position: 80px 0
  @media phone
    background-position: 0 0

header
  padding: 2px 20px 2px 12px
  -webkit-box-shadow: inset 0 -1px 0 0 gray
  box-shadow: inset 0 -1px 0 0 gray
  background-color: white
  position: fixed
  height: 68px
  box-sizing: border-box
  top: 0
  right: 0
  left: 0
  z-index: 10000
  .logo
    img
      vertical-align: top
      width: 146px
      margin: 17px 0 0 15px
      &.hw
        @media phone
          display: none
      &.owl
        display: none
        @media phone
          width: 30px
          display: inline-block
      @media phone
        margin-left: 0
    .fa
      color: navy
      cursor: pointer
      display: none
      font-size: 1.7em
      margin: 21px 0 0 15px
      @media phone
        display: inline-block
    .text
      display: inline-block
      vertical-align: top
      margin: 21px 0 0 15px
      font-size: 1.4em
      font-family: gotham-book
      color: navy
      upcase()
      span
        font-family: gotham-bold
      @media phone
        display: none
  nav
    float: right
    margin-top: 14px
    #user
      display: inline-block
      vertical-align: top
      margin-top: -10px
      position: relative
      cursor: pointer
      @media phone
        margin-top: -7px
      .avatar, .name, .arrow
        display: inline-block
        vertical-align: top
      .avatar
        width: 60px
        height: 60px
        border-radius: 50%
        overflow: hidden
        img
          width: 60px
          height: 60px
      .name
        color: navy
        margin: 15px 10px 0 12px
        font-size: 1.2em
        strong
          text-transform: capitalize
        @media phone
          margin: 17px 5px 0 12px
          font-size: 1.0em
          width: auto
      .arrow
        font-size: 12px
        margin: 20px 40px 0 0
        @media phone
          margin: 20px 0 0
    .link
      display: inline-block
      vertical-align: top
      margin: 0 10px
      position: relative
      > a
        text-decoration: none
        color: white
      &.head-button
        display: none
        .drop-container
          top: 42px
          right: -25px
          .drop-arrow
            margin-left: 166px
            @media phone
              margin-left: 208px
      .icon-button
        width: 170px
        @media phone
          width: 40px
        .text
          @media phone
            display: none
      .drop-container
        position: absolute
        top: 52px
        width: 260px
        right: 0px
        @media phone
          right: -25px
        .drop
          background-color: darker-navy
        .drop-arrow
          width: 0
          height: 0
          border-left: 8px solid transparent
          border-right: 8px solid transparent
          border-bottom: 10px solid navy
          margin-left: 204px
        .links
          padding: 8px 0
          a
            &:active, &:focus
              outline: none
            &:hover
              background-color: black
            i, .link
              color: light-blue-gray
              display: inline-block
              max-height: 23px
              line-height: 23px
              vertical-align: top
            i
              margin: 8px 0 8px 30px
            &:hover .link
              color: white
        &.properties
          overflow-y: scroll
          .search
            overflow: auto
            .input
              position: relative
              background-color: lighter-navy
              margin-left: 12px
              box-sizing: border-box
              width: 240px
              border-radius: 20px
              margin: 15px auto 0
              i
                position: absolute
                left: 15px
                top: 7px
                color: white
                &.icon-close
                  cursor: pointer
                  display: none
                  left: auto
                  right: 10px
              input
                font-size: .9em
                background: none
                border: none
                padding-left: 40px
                color: white
                &:active, &:focus
                  outline: none
                  box-shadow: none
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
                  color: #4E5562
                  opacity: 1
          .links
            padding: 8px 0
            a
              &:active, &:focus
                outline: none
              .link
                display: inline-block
                vertical-align: top
                color: dark-gray
                max-height: 23px
                width: 240px
                text-align: left
              &:hover .link
                color: white

.body
  width: auto
  margin: 120px 0 0 240px
  padding: 0 50px 60px
  position: relative
  transition: margin-left .4s ease-in-out
  z-index: 0
  .container
    .deactivate,
    .reactivate
      margin-top: 20px
      span
        color: red
        cursor: pointer
  @media landscape_tablet
    margin-left: 80px
  @media portrait_tablet
    margin-left: 80px
  @media phone
    margin: 80px 0 20px
    padding: 10px

.drop-container
  max-height: 0
  overflow: hidden
  box-sizing: border-box
  transition: max-height .4s ease-in-out
  z-index: 1
  .links
    a
      display: block
      text-decoration: none
      .link
        margin: 8px 0 8px 15px

#sidebar-container
  z-index: 1
  background-color: navy
  position: fixed
  top: 68px
  min-height: 100%
  left: 0
  bottom: 0
  width: 240px
  transition: width .4s ease-in-out
  overflow: hidden
  @media landscape_tablet
    width: 80px
  @media portrait_tablet
    width: 80px
  @media phone
    display: none
    width: auto
    overflow: scroll
    min-height: 0
  &:hover
    width: 240px
    @media phone
      width: auto
  #sidebar
    color: white
    width: 240px
    @media phone
      width: 100%
    .section
      padding: 0
      &:hover
        cursor: pointer
        background-color: black
      &.active
        background-color: black
      > a
        color: white
        &:active, &:focus
          outline: none
      .title
        padding: 20px 0 20px 28px
      .icon, .text
        display: inline-block
        vertical-align: top
      .icon
        i
          font-size: 1.5em
      .text
        margin: 5px 0 0 28px
        text-align: left
        width: 125px
        @media phone
          margin: 5px 0 0 17px
      .drop-container
        background-color: darker-navy
        .search
          margin: 20px 0 10px
          .input
            position: relative
            background-color: navy
            margin-left: 12px
            padding: 8px 12px
            box-sizing: border-box
            width: 220px
            border-radius: 20px
            .fa
              position: absolute
              left: 12px
              top: 11px
            input
              font-size: .9em
              background: none
              border: none
              padding-left: 25px
              color: light-navy
              &:active, &:focus
                outline: none
                box-shadow: none
              &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
                color: #4E5562
                opacity: 1
        .links
          padding: 8px 0
          -webkit-box-shadow: inset  0 -10px 10px -10px rgba(0,0,0,0.25), inset 0 -1px 0 0 rgba(255,255,255,0.08)
          box-shadow: inset  0 -10px 10px -10px rgba(0,0,0,0.25), inset 0 -1px 0 0 rgba(255,255,255,0.08)
          a
            &:active, &:focus
              outline: none
            &:hover
              background-color: black
            i
              color: light-blue-gray
              display: inline-block
              max-height: 23px
              line-height: 23px
              margin: 5px 0 8px 30px
              @media phone
                margin-left: 10px
            .link
              display: inline-block
              vertical-align: top
              color: light-blue-gray
              max-height: 23px
            &:hover .link
              color: white
form
  button
    border: 0
    background-color: teal
    color: white
    cursor: pointer
    width: 220px
    border-radius: 1px
    margin: 15px auto
    padding: 8px 4px 10px 6px
    hover-darken()
    &:focus, &:active
      outline: none
    .text
      margin-right: 6px
    .typn
      margin-top: -1px
    .text, .typcn
      display: inline-block
      vertical-align: top
    &.orange
      background-color: orange
      hover-darken()

.signup,
.signin,
.forgotpwd,
.default
  color: dark-gray
  width: 450px
  margin: 140px auto 50px
  text-align: center
  position: relative
  @media phone
    width: auto
  .title
    color: navy
    font-size: 2em
    margin-bottom: 25px
    text-transform: uppercase
  .field
    margin: 15px
    input
      box-sizing: content-box
      width: 300px
      @media phone
        width: 80%
  .cb
    margin: 0 auto 15px
    text-align: left
    width: 324px
    @media phone
      width: 80%
  a
    color: dark-gray
    text-decoration: none
  .create-account
    margin: 10px 0
    span
      display: block
      font-size: 15px
    .button
      background-color: light-gray
      color: darker-gray
      display: inline-block
      margin: 5px 0
      width: 300px
      @media phone
        width: 74%
  .forgot-pwd
    font-size: 15px
  button
    background-color: orange
    font-weight: bold
    margin-bottom: 30px
    text-transform: uppercase
    width: 324px
    hover_darken()
    @media phone
      width: 80%
  .button
    background-color: white
    color: darker-gray
    padding: 8px 12px
    border-radius: 1px
    hover-darken()
  .form-container
    overflow: hidden
    .steps
      width: 100%
      .caption
        font-size: 15px
      .step
        width: 450px
        display: none
        vertical-align: top
        @media phone
          width: 100%
        &.active
          display: block
        &.three .caption
          margin-top: 45px
      .progress-container
        background-color: lighter-navy
        padding: 30px 0
      .progress
        margin: 0 auto
        position: relative
        width: 320px
        .typcn
          background-color: white
          color: teal
          font-size: 20px
          line-height: 20px
        hr
          border: 0
          border-top: 2px solid white
          position: absolute
          top: 5px
          width: 100%
          z-index: 1
          margin: 8px auto
        span
          background-color: lighter-navy
          border: 2px solid white
          border-radius: 50%
          color: white
          display: inline-block
          height: 24px
          line-height: 24px
          margin-left: 118px
          position: relative
          text-align: center
          width: 24px
          z-index: 2
          &.one
            margin-left: 0
          &.active
            background-color: teal
  .flash
    position: absolute
    top: -50px
    width: 600px
    left: 50%
    margin-left: -300px
    min-height: 30px

.flash
  border-radius: 3px
  box-sizing: border-box
  color: white
  font-size: 14px
  opacity: 0
  transition: opacity .6s ease, height .6s ease
  padding: 8px 12px
  display: inline-block
  vertical-align: top
  &.success
    background-color: green
  &.failure
    background-color: red
  &.info
    background-color: orange

#search-bar
  #filters
    float: right
  #search
    padding-right: 10px
    position: relative
    overflow: hidden
    i
      color: dark-gray
      position: absolute
      left: 15px
      top: 12px
      font-size: 1em
      @media phone
        left: 8px
        top: 14px
      &.icon-close
        cursor: pointer
        display: none
        left: auto
        right: 20px
        @media phone
          right: 10px
    input
      width: 100%
      padding: 13px 12px 14px 46px
      border-radius: 3px
      border: 0
      color: black
      box-sizing: border-box
      font-size: 14px
      &:active, &:focus
        outline: none
      @media phone
        font-size: 0.9em
        padding: 15px 12px 14px 25px
    @media phone
      padding-right: 3px
  .select2-container
    width: 200px
    a
      border: 0 !important
      padding: 5px 12px !important
      height: 34px
      border-radius: 3px
      line-height: 34px
      font-size: 14px
      color: dark-gray
      @media phone
        padding: 6px 12px !important
    @media phone
      width: auto

.body
  .page-title
    color: heavy-gray
    font-size: 1.5em
    @media phone
      font-size: 1.4em
    .fa, i
      margin-right: 15px
    .icon, .text
      display: inline-block
      vertical-align: top
    .icon
      margin-right: 15px
    .text
      margin-top: 2px
  .page-subtitle
    font-size: 15px
    margin-top: 10px
    .red
      color: dark-red

.container.contractor
  .jobs
    margin-top: 15px
    .job
      background-color: white
      margin-bottom: 10px
      height: 116px
      cursor: pointer
      .bottom
        border-top: 2px solid lighter-gray
        height: 40px
        overflow: hidden
        color: dark-gray
        .contractors, .rooms, .text
          display: inline-block
          vertical-align: top
        .contractors, .rooms
          margin: 8px 0 0 20px
          i
            margin-right: 6px
        .right
          float: right
          background-color: lighter-gray
          height: 40px
          padding: 8px 20px
          box-sizing: border-box
          color: #7F8389
          width: 124px
          .icon, .pricing
            display: inline-block
            vertical-align: top
          .pricing
            font-weight: 600
            padding-bottom: 3px
            span
              font-size: .8em
            &.special
              border-bottom: 2px solid gold
          .icon
            font-size: 1.1em
            margin: -1px 10px 0 0
        .left
          .pickup, .dropff
            display: none
            @media phone
              display: inline-block
              font-weight: bold
      .top
        height: 74px
        a
          text-decoration: none
          float: right
          .text.completed
            color: white
            margin: 18px 25px 0 0
            @media phone
              margin: 18px 0 0 0
        .beds
          float: right
          margin: 28px 40px 0 0
          .text, .bed, .div
            display: inline-block
            vertical-align: top
          .text
            color: heavy-gray
            font-weight: 600
            margin-right: 25px
          .bed
            color: darker-gray
            span
              color: teal
            .div
              margin: 0 12px
        .button
          padding: 0
          text-align: left
          width: 135px
          margin: 17px
          float: right
          .icon, .text
            display: inline-block
            vertical-align: top
          .icon
            width: 40px
            height: 40px
            font-size: 1.6em
            .typcn
              margin: 2px 0 0 7px
          .text
            width: 95px
            text-align: center
            margin-top: 9px
      .title, .address
        display: inline-block
        vertical-align: top
      .column
        background: linear-gradient(left, 0% white, lighter-gray)
        height: 116px
        width: 32px
        float: right
      .photo
        float: left
        width: 121px
        height: 116px
        img
          width: 80px
          height: 80px
          margin: 16px 0 0 20px
          border-radius: 50%
        .column
          width: 20px
      .title
        float: left
        .text, .icon
          display: inline-block
          vertical-align: top
        .icon
          font-size: 1.3em
          margin: 42px 8px 0 22px
          color: #D3D3D3
        .text
          font-weight: 700
          margin-top: 48px
      .address
        margin: 20px
        font-size: .9em
        color: dark-gray
        .name
          color: heavy-gray
          font-weight: 600
          text-transform: capitalize
      .neighborhood
        margin-top: 28px
        font-size: 1em
        color: heavy-gray
      &.complete, &.couldnt_access
        background-color: teal
        color: white
        .photo
          background-color: teal
          box-shadow: teal_shadow
          .timer i
            color: white
        .address1, .title .icon, .name
          color: white
        .bottom
          border-top: 2px solid #39babe
          color: white
          .payout
            background-color: teal
            color: white
            i
              color: white
          .text, .rooms i
            color: white
        .address
          margin-top: 36px
          font-size: 1em
        .order
          background-color: teal
          color: white
          box-shadow: inset -1px 0 0 0 rgba(255,255,255,0.25)
        .right
          @media phone
            height: 145px
          .top
            .text.completed
              span
                display: inline-block
                vertical-align: top
                margin-top: 10px
              i
                color: dark-teal
                margin-left: 10px
                font-size: 2em
            .title
              @media portrait_tablet
                margin-top: 5px
                max-width: 150px
              @media phone
                margin-top: 5px
                max-width: 150px
              .address
                color: white
        .column
          background: linear-gradient(left, 0% teal, #32A6AB)
      &.couldnt_access
        background-color: orange
        .bottom
          border-top: 2px solid #e99c56
          .payout
            background-color: orange
        .order
          background-color: orange
        .photo
          background-color: orange
          box-shadow: orange_shadow
        .right
          .top
            i
              color: dark-orange !important
  .page-title
    font-size: 1.6em
  .row
    margin-bottom: 25px
    .blocks
      display: inline-block
      vertical-align: top
    .block
      background-color: white
      display: inline-block
      box-sizing: border-box
      vertical-align: top
      .content-side.details
        padding: 10px 60px 25px !important
      .add-teammate
        padding: 15px
        position: relative
        .flash
          position: absolute
          display: none
          z-index: 99
          font-size: 1em
          top: 16px
          bottom: 16px
          left: 16px
          right: 16px
      .head
        padding: 12px 15px
        border-bottom: thin solid light-gray
        height: 40px
        .right
          float: right
          width: 40px
          .arrow
            font-size: 1.1em
            margin-top: 19px
            -webkit-transform: rotate(90deg)
            transform: rotate(90deg)
        .photo, .icon
          width: 40px
          float: left
          display: inline-block
          vertical-align: top
        .photo
          img
            width: 40px
            height: 40px
            border-radius: 50%
        .icon
          font-size: 1.65em
          color: border-gray
        .text
          font-weight: 500
          font-size: 1.3em
          text-align: center
          margin: 5px auto
      &.customer
        .info
          text-align: center
          .name
            font-size: 1.2em
            font-weight: 600
            margin: 35px 0 15px
          .email
            margin-top: 6px
            color: teal
      &.services
        .services
          margin: 20px 20px 30px
          .title
            color: teal
            font-weight: 600
            margin: 10px 0
          .service
            border-top: thin solid light-gray
            padding: 10px 0
            i
              color: dark-gray
              margin-right: 10px
            .name
              display: inline-block
              vertical-align: top
            label
              float: right
            &.active
              i
                color: teal
      &.team
        .teammate
          padding: 20px
          position: relative
          .icon, .name, .number, .position
            display: inline-block
            vertical-align: top
          .icon
            margin-right: 10px
          .number
            float: right
            color: teal
          .name
            font-weight: 600
          .position
            text-transform: capitalize
            color: dark-gray
            margin: 2px 0 0 10px
            font-size: 14px
          .remove
            position: absolute
            top: 0
            right: 2px
            color: gray
            &:hover
              cursor: pointer
              color: dark-gray
      &.actions
        overflow: hidden
        .viewports
          width: 200%
          transition: margin-left .6s ease-in-out
          .viewport
            width: 50%
            vertical-align: top
            display: inline-block
            &.side
              display: none
            &.active
              display: inline-block
            &.disabled .arrived-button
              background-color: #A6A6A6
              &:hover
                cursor: default
        .arrived-button
          background-color: teal
          padding: 8px 12px
          border-radius: 1px
          color: white
          hover-lighten(3%)
          &:hover
            cursor: pointer
          .arrow
            float: right
          .icon
            float: left
          .text
            text-align: center
        .arrived-dropdown
          max-height: 0
          overflow: hidden
          transition: max-height .4s ease-in-out
          &.active
            max-height: 80px
        .bottom
          background-color: white
          .actions
            padding: 20px
            .action
              height: 40px
              color: white
              text-align: center
              overflow: auto
              background-color: teal
              .icon
                width: 40px
                height: 40px
                background-color: light-teal
                float: left
                .typcn
                  font-size: 1.75em
                  margin-left: 2px
              .text
                margin-top: 9px
                font-weight: 600
              &.start
                background-color: teal
              &:hover
                cursor: pointer
                background-color: light-teal
    &.one
      .block
        width: 100%
    &.two
      .head
        .text
          width: 260px
      .block
        width: 49%
        &:first-child
          margin-right: 2%
      .blocks
        width 49%
        .block
          width: 100%
          margin-bottom: 20px
        &:first-child
          margin-right: 2%
    &.uneven
      #map
        margin-bottom: 0
      .head
        .text
          width: 190px
      .block
        width: 62%
        height: 240px
        &:first-child
          width: 36%
          margin-right: 2%
  .welcome
    font-size: 2em
    margin: 50px 0 15px
  .schedule, .training-complete
    margin: 50px 0 25px
    .head
      border-bottom: thin solid dark-gray
      padding-bottom: 10px
      margin-bottom: 20px
      font-weight: 700
      .right
        float: right
    .header-message
      background-color: orange
      color: white
      border-radius: 3px
      box-shadow: gray_shadow
      overflow: hidden
      margin-bottom: 15px
      position: relative
      .left
        line-height: 44px
      .right
        float: right
        background-color: dark-gold
        height: 44px
        width: 120px
        padding-top: 11px
        box-sizing: border-box
        text-align: center
        @media phone
          width: 90%
          position: absolute
          bottom: 0
          right: 0
          text-align: left
        a
          color: white
          text-decoration: none
          font-weight: bold
          @media phone
            margin-left: 10px
      .icon, .text
        display: inline-block
        vertical-align: top
      .icon
        background-color: orange
        width: 50px
        text-align: center
        font-size: 1.25em
        border-right: thin solid dark-orange
        @media phone
          height: 88px
          line-height: 88px
          font-size: 1.5em
          width: 10%
      .text
        margin-left: 10px
        @media phone
          position: absolute
          top: 0
          font-size: 14px
    .distribution
      border-radius: 3px
      box-shadow: gray_shadow
      overflow: hidden
      &.dropoff
        margin-top: 25px
        .bottom .right .icon-button
          @media phone
            margin-top: 0
        .bottom .return .supply
          @media phone
            margin-left: 0
      .dc-address
        background-color: lighter-gray
        padding: 10px 15px
        font-weight: bold
        font-size: 14px
      .top
        background-color: teal
        padding: 12px 15px
        color: white
        font-weight: 600
        border-radius: 1px
        .icon, .text, .location
          display: inline-block
          vertical-align: top
        .right
          float: right
          display: none
          i
            font-size: 0.8em
        .icon
          font-size: 1.25em
          margin-top: -4px
        .text
          margin-left: 10px
        .location
          margin-left: 10px
      .bottom
        transition: max-height .4s ease-in-out
        max-height: 80px
        overflow: hidden
        background-color: white
        @media phone
          max-height: 100%
        .pad
          padding: 24px 18px
        .right
          float: right
          .icon-button
            width: 150px
            margin-top: -10px
            @media phone
              width: 120px
              margin-top: 10px
        .return
          color: dark-gray
          .text
            display: inline-block
            vertical-align: top
            font-weight: 600
            margin-right: 25px
          .supply
            margin: 0 23px 0 7px
            display: inline-block
            vertical-align: top
            .type
              color: teal
        .supplies
          color: dark-gray
          .type, .num, .text
            display: inline-block
            vertical-align: top
          .text
            font-weight: 600
            margin-right: 25px
            @media portrait_tablet
              display: none
            @media phone
              display: none
          .supply
            margin: 0 23px 0 7px
            display: inline-block
            vertical-align: top
            @media phone
              display: block
              font-size: 14px
            .type
              color: teal
              @media phone
                width: 90px
            .num
              margin-left: 8px
  .earnings
    padding-top: 25px
    border-top: thin solid dark-gray
    .earning
      display: inline-block
      vertical-align: top
      background-color: white
      width: 49%
      box-shadow: gray_shadow
      border-radius: 3px
      @media phone
        display: block
        width: 100%
      &:first-child
        margin-right: 2%
        @media phone
          margin: 0 0 15px
      .top
        border-bottom: thin solid gray
        padding: 15px
        box-sizing: border-box
        i, .text
          display: inline-block
          vertical-align: top
        i
          color: teal
          margin-right: 10px
          font-size: 1.25em
        .text
          color: dark-gray
          font-weight: 600
          font-size: 1.1em
          margin-top: 3px
      .bottom
        padding: 15px
        .amount
          color: teal
          font-size: 1.5em
          font-weight: 600
          display: inline-block
          vertical-align: top
        .payout-date
          float: right
          font-size: 14px
          margin-top: 10px
          color: dark-gray

.container.trainee
  .message .text .teal
    color: teal
  .schedule
    .header-message
      .icon
        @media phone
          width: 45px
      .text
        @media phone
          line-height: 22px
          margin-top: 20px
  .select-dates
    width: 260px
    border-radius: 3px
    color: white
    @media phone
      width: 100%
    &.inactive
      background-color: #999
      .icon
        background-color: #B3B3B3
    &.active
      background-color: teal
      .icon, &:hover .text
        background-color: light-teal
    &:hover
      cursor: pointer
  .dates
    margin: 25px 0
    width: 640px
    border-bottom: thin solid #999
    padding-bottom: 10px
    @media portrait_tablet
      width: auto
    @media phone
      width: auto
    .check-container
      display: inline-block
      vertical-align: top
      margin: 0 20px 20px 0
      @media phone
        width: 45%
        margin-right: 5%
      input
        display: none
        &:checked + .date
          .top
            background-color: dark-teal
            color: white
          .bottom
            .text
              display: none
            .icon
              width: 100%
              text-align: center
        &.inactive
          opacity: 0.3
      .date
        width: 140px
        height: 190px
        border-radius: 3px
        overflow: hidden
        box-shadow: gray_shadow
        display: inline-block
        @media phone
          width: 100%
        .top
          background-color: white
          height: 150px
          padding: 18px
          box-sizing: border-box
          text-align: center
          color: heavy-gray
          .day
            font-size: 2.4em
            font-weight: 600
          .month
            font-size: 1.6em
            text-transform: uppercase
            margin-bottom: 10px
          .time
            font-size: 1.1em
            font-weight: 600
        .bottom
          background-color: teal
          height: 40px
          color: white
          .icon, .text
            display: inline-block
            vertical-align: top
          .icon
            width: 40px
            height: 40px
            line-height: 40px
            text-align: center
            background-color: light-teal
            i
              font-size: 1em
          .text
            text-align: center
            font-size: 1em
            width: 100px
            line-height: 40px
            text-transform: uppercase
        &:hover
          cursor: pointer
        &.active:hover
          .top
            background-color: dark-teal
            color: white
          .bottom
            .text
              display: none
            .icon
              width: 100%
              text-align: center
        &.inactive
          opacity: 0.3

.property-form-container
  margin: 40px auto 0
  overflow: hidden
  color: dark-gray
  .step-nav
    border-radius: 3px
    box-shadow: gray_shadow
    background-color: white
    display: block
    line-height: 40px
    width: 100%
    color: dark-gray
    margin-bottom: 5px
    vertical-align: top
    @media phone
      width: auto
    &.active
      border-bottom: 3px solid teal
      box-shadow: none
      .text, .icon
        color: darker-gray
      .icon.step-icon
        border: 2px solid darker-gray
    &.complete
      background-color: teal
      color: white
      .text, .icon
        color: white
      .icon.icon-alert-ok
        color: light-teal
        display: inline-block
      .icon.step-icon
        border: 2px solid white
    > div
      padding: 6px 12px
    .icon, .text
      display: inline-block
      vertical-align: top
      color: gray
    .icon
      font-size: 1.9em
      margin-top: -3px
      &.icon-alert-ok
        display: none
        font-size: 2em
        float: right
        margin: 0 10px 0
        @media phone
          margin-right: 0
      &.step-icon
        border-radius: 50%
        border: 2px solid gray
        font-size: 0.8em
        height: 20px
        line-height: 20px
        margin-top: 9px
        text-align: center
        width: 20px
        font-weight: bold
    .text
      font-size: 1.2em
      margin: 0 40px 0 8px
  .steps
    .step
      position: relative
      &.one
        .vr
          height: 265px
      &.two
        form
          display: none
        .step-nav
          margin-top: 20px
        .vr
          height: 280px
      &.three
        form
          display: none
        .step-nav
          margin-top: 20px
        .vr
          height: 835px
      form
        box-shadow: gray_shadow
        border-radius: 3px
        background-color: white
        margin: 0 auto
        position: relative
        width: 100%
        .flash
          left: 30px
          position: absolute
          top: 8px
        a
          color: teal
          text-decoration: none
        .vr
          border-left: 1px solid light-gray
          display: inline-block
          height: 305px
          margin-top: 50px
          @media phone
            display: none
        hr
          border: 0
          border-top: 1px solid light-gray
          margin: 20px 0
        .section
          display: inline-block
          vertical-align: top
          > div
            padding: 50px 30px
            @media portrait_tablet
              padding: 50px 0
            @media phone
              padding: 0 20px
          .row
            margin: 20px auto
            width: 80%
            @media phone
              width: 95%
            &:first-child
              margin-top: 0
            &.two, &.four
              > div
                display: inline-block
                margin-left: 2%
                width: 49%
                &:first-child
                  margin-left: 0
              input, .caption
                width: 100%
            &.two > div
              vertical-align: top
            &.beds
              > div span
                display: inline-block
                width: 100px
            &.check
              > div
                display: inline-block
                vertical-align: top
                width: 40%
                @media landscape_tablet
                  width: 50%
                @media portrait_tablet
                  width: 50%
            .select2-container
              width: 100%
              a
                color: black
          .radio
            label
              color: black
              font-weight: normal
          .cb
            margin-top: 44px
            label
              color: black
              font-size: 12px
              font-weight: normal
              &:before
                top: 0
          &.avatar
            width: 19%
            text-align: center
            @media phone
              border-bottom: thin solid border-gray
              margin: 0 auto 20px
              padding: 20px 0
              width: 100%
            .name
              margin: 20px 0
            .location
              color: darker-gray
              font-size: 14px
            img
              border-radius: 50%
              height: 100px
              width: 100px
              @media portrait_tablet
                height: 80px
                width: 80px
            .file-upload
              color: teal
              cursor: pointer
              font-size: 14px
              font-weight: bold
              margin: 0 auto 30px
              i
                font-size: 20px
                margin-right: 5px
          &.info
            width: 40%
            .caption
              display: none
            @media phone
              width: 100%
          &.action
            width: 40%
            @media phone
              width: 100%
          &.home-type
            width: 35%
            @media phone
              margin: 20px 0
              width: 100%
          &.bed-type
            width: 64%
            @media phone
              width: 100%
            .icon-button
              width: 300px
              @media phone
                width: 100%
            .row.two
              > div
                width: 49%
            .row.four
              > div
                width: 23.5%
                &:nth-child(odd)
                  @media phone
                    margin-left: 0
                @media phone
                  margin-bottom: 10px
                  width: 49%
          &.instructions
            width: 50%
            @media phone
              margin: 20px 0 0
              width: 100%
          &.instructions.right
            width: 49%
            @media phone
              margin: 0
              width: 100%
            button
              margin-top: 0
        input
          width: 100%
        input[type=radio]
          width: 30px
          margin-left: -6px
        textarea
          border: thin solid light-gray
          border-radius: 3px
          box-sizing: border-box
          height: 120px
          padding: 8px 12px
          width: 100%
          &:focus
            outline: none
          @media phone
            height: 160px
        label
          color: teal
          display: block
          font-size: 14px
          font-weight: bold
          margin-bottom: 10px
          text-align: left
        .caption
          display: inline-block
          font-size: 13px
          text-align: left
          width: 100%

#property
  #title
    background-color: white
    padding: 12px 20px
    border-radius: 1px
    .photo, .text
      display: inline-block
      vertical-align: top
    .photo
      img
        border-radius: 99px
        width: 90px
        height: 90px
    .text
      margin: 16px
      .title
        font-size: 1.75em
      .address
        color: teal
        font-weight: 600
  #columns
    margin: 25px 0
    @media phone
      margin: 10px 0 25px
    .column
      display: inline-block
      vertical-align: top
      width: 48%
      margin-right: 4%
      @media phone
        margin-right: 0
        width: 100%
      &:last-child
        margin-right: 0
      .section
        background-color: white
        border-radius: 3px
        overflow: hidden
        margin-bottom: 15px
        box-shadow: gray_shadow
        .head
          padding: 15px
          color: #E8E9EA
          font-size: 1.25em
          text-align: center
          border-bottom: 2px solid light-gray
          transition: color .6s ease-in-out, border .6s ease-in-out
          position: relative
          .icon, .text, .arrow
            display: inline-block
            vertical-align: top
          .icon
            color: teal
            font-size: 1.25em
            position: absolute
            left: 20px
            top: 12px
          .text
            color: heavy-gray
            strong
              color: teal
              margin-right: 5px
          .arrow
            display: none
            border-left: thin solid light-gray
            padding-left: 20px
            position: absolute
            right: 20px
            i
              color: dark-gray
              font-size: 0.8em
          @media portrait_tablet
            font-size: 1em
        &.services
          .book
            color: white
            height: 50px
            line-height: 50px
            @media portrait_tablet
              font-size: 0.8em
            @media phone
              font-size: 0.9em
            .msg, a
              display: inline-block
              vertical-align: top
            .msg
              width: 66%
              padding: 0 2%
              background-color: light-teal
              i
                font-size: 1.5em
              span
                display: inline-block
                margin-left: 10px
                vertical-align: top
            a
              width: 30%
              color: white
              text-decoration: none
              background-color: teal
              font-weight: bold
              text-align: center
              &:hover
                background-color: light-teal
              @media phone
                &:hover
                  background-color: teal
          table
            width: 92%
            margin: 25px auto
            thead
              tr
                th
                  font-size: 14px
                  text-align: left
                  padding: 0 10px 10px
                  a
                    color: heavy-gray
                    text-decoration: none
                  &.date
                    width: 90px
                  &.id
                    width: 90px
                  &.services
                    width: 190px
            tbody
              tr
                transition: height .4s ease-in-out
                &.gray
                  background-color: lighter-gray
                td
                  padding: 15px 10px
                  color: dark-gray
                  vertical-align: top
                  font-size: 14px
                  &.services
                    font-size: .9em
                    .text
                      overflow: hidden
                      transition: max-height .4s ease-in-out
                  &.id.link
                    color: teal
                    &:hover
                      cursor: pointer
                  img
                    width: 22px
                    height: 22px
                    background-color: teal
                    margin: 0 3px
        &.cal
          .head
            background-color: teal
            color: white
            border-bottom: 0
            .text
              color: white
            .typcn
              color: white
  .deactivate
    span
      color: red
      &:hover
        cursor: pointer

.instructions
  .instruction
    padding: 30px
    padding-bottom: 0
    position: relative
    .content
      border-bottom: thin solid teal
    .title
      color: teal
      font-size: 1.1em
      font-weight: 600
    .text
      margin: 15px 0 30px
      color: darker-gray
    .edit
      position: absolute
      right: 3px
      top: 3px
      background-color: lighter-gray
      border-radius: 1px
      color: darker-gray
      padding: 5px
      cursor: pointer
      font-size: 0.8em
    &:last-child .content
      border-bottom: 0

.transaction-container
  margin: 40px auto 0
  @media portrait_tablet
    width: 700px
  @media phone
    width: 700px
  .tabs
    .tab
      border-radius: 3px 3px 0 0
      display: inline-block
      vertical-align: top
      margin-right: 10px
      background-color: light-gray
      padding: 15px
      width: 150px
      text-align: center
      color: dark-gray
      &:hover
        cursor: pointer
      &.active, &:hover
        background-color: white
  .tab-content
    background-color: white
    border-radius: 0 3px 3px
    box-shadow: gray_shadow
    padding: 30px
    .tab
      display: none
      position: relative
      &.active
        display: block
      a
        color: teal
        text-decoration: none
        &.download
          font-size: 0.9em
          position: absolute
          right: 0
          top: -40px
          .fa
            font-size: 1.2em
            margin-right: 5px
      table
        margin-top: 30px
        width: 100%
        th
          padding-bottom: 10px
          vertical-align: top
          a
            color: black
            i
              color: light-gray
              margin-left: 5px
              @media portrait_tablet
                display: none
        tr
          border-bottom: 1px solid border-gray
          text-align: left
        td
          padding: 10px 0
          &.date
            width: 15%
          &.property
            width: 15%
          &.services
            width: 40%
          &.payment
            width: 15%
          &.total
            color: teal
            width: 15%

#jobs, .container.contractor .jobs, .ngdialog.claim .modal
  .week-pagination
    text-align: center
    .num
      display: inline-block
      margin: 0 10px
      color: teal
      background-color: white
      border-radius: 3px
      padding: 10px
      width: 40px
      height: 40px
      box-sizing: border-box
      &.active, &:hover
        background-color: teal
        color: white
      &.active
        font-weight: 600
      &:hover
        cursor: pointer
  .tabs
    margin: 40px 0
    .filters
      float: right
      position: relative
      .select2-container
        margin-top: 5px
    .tab
      display: inline-block
      vertical-align: top
      margin-right: 10px
      background-color: white
      padding: 15px
      width: 150px
      text-align: center
      color: dark-gray
      border-radius: 3px
      box-shadow: gray_shadow
      @media phone
        width: 32%
        margin-right: 2%
        padding: 0
        line-height: 50px
      &:last-child
        @media phone
          margin-right: 0
      &:hover
        cursor: pointer
      &.active, &:hover
        background-color: white
        border-bottom: 3px solid teal
        box-shadow: none
  .tab-content
    margin-top: 25px
    .tab
      display: none
      &.active
        display: block
      &.open .jobs .job
        cursor: default
      .day
        margin-bottom: 50px
        .head
          color: heavy-gray
          border-bottom: 2px solid dark-gray
          padding-bottom: 10px
          font-size: 1.25em
          font-weight: 700
          margin-bottom: 20px
  .job
    margin: 15px auto
    .photo
      img
        margin: 0
    .order
      display: none
      @media phone
        color: light-navy
        display: inline-block
        width: 20px
        float: left
        background-color: lighter-gray
        height: 145px
        line-height: 145px
        text-align: center
        border-radius: 3px 0 0 3px
    .right
      .icon-button
        width: 150px
        @media phone
          margin-top: 0
          width: 120px
        .text
          display: block
      .bottom
        height: 100%
        width: 100%
        .rooms
          margin: 0
        .size
          display: inline-block
          vertical-align: top
          margin-left: 30px
      .top
        @media phone
          height: 60px
        .title
          @media landscape_tablet
            margin-top: 15px
          @media portrait_tablet
            margin-top: 10px
          @media phone
            max-width: 100px
        .address
          @media portrait_tablet
            max-width: 230px
        .neighborhood
          @media phone
            margin-top: 13px
    .claimed-container
      display: none
      padding: 40px
      @media phone
        padding: 20px
      .icon, .text
        display: inline-block
        vertical-align: top
      .text
        margin: 13px 0 0 13px
        color: dark-gray
        line-height: 21px
        strong
          color: heavy-gray
        @media phone
          width: 70%
          margin: 5px 0px 0px 10px
      .icon
        background-color: teal
        color: white
        width: 70px
        height: 70px
        border-radius: 50%
        font-size: 1.8em
        box-sizing: border-box
        line-height: 70px
        text-align: center
        @media phone
          padding: 0px
          font-size: 2em
    &.claimed
      .flag, .photo, .order, .right
        display: none
      .claimed-container
        display: block
    &.claimed.success
      background-color: light-teal
      color: white
      .right
        display: block
        .top
          display: none
        .bottom
          border-top: 2px solid teal
          color: white
          .payout
            background-color: teal
            color: white
            i
              color: white
          .rooms
            i
              color: white
            .text
              color: white
          .size .text
            color: white
      .claimed-container
        height: 65px
        padding: 18px
        margin: 0
        .icon
          background-color: dark-teal
        .text
          line-height: 65px
          margin: 0 0 0 20px
          width: auto
          strong
            color: white

.card-entry
  border: thin solid border-gray
  border-radius: 3px
  margin-top: 20px
  .title
    margin-top: 20px
    background-color: #eee
    padding: 10px
    font-weight: bold
    font-size: 1.1em
    img
      float: right
  .card-details
    padding: 20px
    .field
      display: inline-block
      .label
        font-size: .75em
        color: gray
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 5px
      &.card-number
        input
          width: 185px
          margin-right: 17px
      &.expiry
        input
          width: 74px
      &.cvc
        margin: 12px 0 0 17px
        input
          width: 54px

.container.admin-job
  > .top
    margin-top: 10px
    .date, .state, .total, .icon, .text, .align-bottom
      display: inline-block
      vertical-align: bottom
    .align-bottom
      height: 60px
    .date
      color: heavy-gray
      font-size: 1.1em
      font-weight: 600
      margin-right: 0px
    .states
      text-align: center
      margin-top: 25px
      .state
        margin: 0 15px
        label
          margin-left: 8px
    .total
      float: right
      i
        font-size: 1.8em
        margin-right: 10px
      .text
        margin-bottom: -3px
        .title
          font-size: .9em
          margin-bottom: 10px
          color: darker-gray
        .cost
          color: teal
          font-size: 2em
          font-weight: 600

.pagination
  ul
    list-style-type: none
    margin: 15px 0
    padding: 0
    text-align: center
    li
      display: inline-block
      padding: 5px 10px
      margin: 0 8px
      &.active
        font-weight: bold
      &.disabled a
        color: darker-gray
        cursor: not-allowed
      a
        color: teal
        font-size: 18px
        text-decoration: none
        &:hover
          color: navy

.pricing-container
  margin: 40px auto 0
  overflow: hidden
  section
    box-shadow: gray_shadow
    overflow: hidden
    border-radius: 3px
    color: teal
    display: inline-block
    margin: 10px 10px 0 0
    vertical-align: top
    width: 300px
    @media landscape_tablet
      width: 250px
    @media portrait_tablet
      width: 250px
    @media phone
      margin: 10px 0
      width: 100%
    .content
      background-color: white
      min-height: 200px
      padding: 35px 10px
      text-align: center
      img.icon
        width: 120px
      h2
        font-size: 18px
      h3
        border-bottom: 1px solid light-gray
        color: dark-gray
        font-size: 13px
        margin: 40px 0 0
        padding-bottom: 30px
      .per-bed
        margin-top: 30px
        span
          display: inline-block
          font-weight: bold
          width: 50%
          &:first-child
            color: black
            font-weight: normal
            text-align: right
            @media phone
              text-align: center
          @media phone
            width: 30%
      .home-type
        margin-top: 30px
        span
          display: inline-block
          font-weight: bold
          text-align: left
          width: 25%
          &:first-child
            border-right: 1px solid light-gray
            color: black
            font-weight: normal
            margin-right: 2%
            padding-right: 2%
            text-align: right
            width: 45%
            @media phone
              margin-right: 4%
              padding-right: 4%
              width: 41%
        .header
          border-bottom: 1px solid light-gray
          margin-bottom: 10px
          padding-bottom: 5px
    &.staging
      h2
        color: darker-gray
    &.linen
      color: red
    &.toiletries
      color: orange
      img
        width: 100%
        &.bigelo
          background-color: orange
          padding: 15px
          width: 218px

.contact-form-container
  overflow: hidden
  margin: 40px auto 0
  border-radius: 1px
  .section
    box-shadow: gray_shadow
    border-radius: 3px
    background-color: white
    padding: 30px
    @media phone
      padding: 15px
    .flash
      margin: 5px 0
    .right
      text-align: right
    .icon-button
      display: inline-block
      margin-top: 20px
      width: 150px
    textarea
      border: thin solid light-gray
      border-radius: 3px
      box-sizing: border-box
      height: 200px
      padding: 8px 12px
      width: 100%
    p
      color: teal
      margin: 0
  ul.links
    margin: 10px 0 0
    padding: 0
    list-style-type: none
    li
      background-color: white
      box-shadow: gray_shadow
      border-radius: 3px
      display: inline-block
      margin-left: 1%
      width: 32.66%
      &:first-child
        margin-left: 0
      &.chat, &.email
        display: none
      @media phone
        display: block
        margin: 5px 0
        width: 100%
      > div
        padding: 20px
        @media portrait_tablet
          padding: 5px
      a
        color: teal
      .fa
        border-right: 1px solid light-gray
        font-size: 25px
        padding-right: 10px
        @media portrait_tablet
          font-size: 25px
          padding-right: 5px
      span
        display: inline-block
        font-size: 14px
        margin-top: 2px
        padding-left: 10px
        vertical-align: top
        @media portrait_tablet
          font-size: 0.8em
          margin-top: 5px
          padding-left: 5px

.payment-container
  margin: 20px auto 0
  overflow: hidden
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      background-color: white
      box-shadow: gray_shadow
      border-radius: 3px
      border: 1px solid light-gray
      margin-bottom: 10px
      padding: 20px
      position: relative
      a
        color: teal
        margin-left: 30px
        text-decoration: none
        @media phone
          margin-left: 15px
      div
        display: inline-block
        vertical-align: top
      .details
        margin-top: 3px
        strong
          font-weight: normal
          text-transform: capitalize
      .links
        position: absolute
        right: 20px
        @media portrait_tablet
          display: block
          margin-top: 20px
          position: static
          text-align: right
        @media phone
          display: block
          margin-top: 20px
          position: static
          text-align: right
        .icon-button
          margin-top: -5px
          width: 220px
          .text
            display: block
        .primary
          background-color: light-gray
          border-radius: 3px
          color: darker-gray
          padding: 5px 25px
      .fa
        font-size: 25px
        margin-right: 20px
        @media phone
          display: none
      .icon-cc, .icon-bank
        display: inline-block
        font-size: 25px
        margin: -4px 20px 0
        @media phone
          display: none
      &.add-payment
        border: 2px solid white
        box-shadow: none
        background-color: transparent
        color: teal
        a
          line-height: 25px
          margin-left: 0
          vertical-align: top
        .fa
          @media phone
            display: inline-block
            margin-right: 10px

.first-property
  .title
    color: white
    font-size: 2em
    font-weight: bold
    margin-bottom: 20px
    @media phone
      font-size: 1.5em
    div, img
      display: inline-block
      margin-left: 10px
      vertical-align: middle
    img
      width: 19px
      height: 27px
      margin-left: 0
  .form-container
    background-color: rgba(255, 255, 255, 0.6)
    text-align: center
    border-radius: 0 0 3px 3px
    overflow: hidden
  form
    position: relative
    .field
      display: inline-block
      width: 50%
      vertical-align: top
      @media phone
        width: 48%
    .icon-button
      margin-left: 20px
    input
      color: teal
      width: 100%
      padding: 10px 12px
    .flash
      border-radius: 0
      width: 100%
      position: absolute
      top: 0
      left: 0
      text-align: left
    .section
      padding: 50px 100px
      @media portrait_tablet
        padding: 50px
      @media phone
        padding: 50px 10px
      &.notify
        border-radius: 0 0 3px 3px
        background-color: teal
        color: white
        display: none
        height: 50px
        line-height: 50px
        padding: 0
        position: relative
        text-align: left
        @media phone
          height: auto
          line-height: 100%
          padding: 10px
        i
          width: 50px
          background-color: light-teal
          display: inline-block
          font-size: 1.5em
          height: 50px
          text-align: center
          @media portrait_tablet
            display: none
          @media phone
            display: none
        .title
          font-size: 15px
          font-weight: normal
          margin: 0 10px
          display: inline-block
          vertical-align: top
          @media phone
            margin: 0
        .row
          position: absolute
          right: 10px
          top: 0
          width: 150px
          @media portrait_tablet
            width: 110px
          @media phone
            position: static
        .button
          line-height: 35px
          padding: 0
          margin-top: 7.5px
          &:first-child
            margin-right: 10px

.switch
  input
    display: none
  i
    display: inline-block
    cursor: pointer
    padding: 2px 22px 2px 2px
    transition: all ease 0.2s
    border-radius: 20px
    font-family: 'hw-icons'
    font-style: normal
    text-align: center
    background: dark-gray
    &:before
      display: block
      content: '\e83e'
      width: 20px
      height: 20px
      line-height: 20px
      vertical-align: top
      font-size: 12px
      color: dark-gray
      border-radius: 20px
      box-shadow: inset 0 0 0 0 dark-gray, inset 0 0 0 10px white
  :checked
    & + i
      padding: 2px 2px 2px 22px
      &:before
        content: '\e81a'
        font-size: 12px
        color: teal
        box-shadow: inset 0 0 0 0 teal, inset 0 0 0 10px white
  &.red
    :checked
      & + i
        background-color: teal

.select2-drop.payment
  z-index: 10000
  .select2-results
    margin: 0
    padding: 0
    .select2-result
      background-color: heavy-gray
      color: white
      border-top: thin solid white
      padding: 8px 12px
      hover-lighten()

body .select2-drop-mask
  z-index: 10000

.contractor-account,
.edit-contractor,
.edit-customer,
.account-container
  box-shadow: gray_shadow
  border-radius: 3px
  margin: 40px auto 0
  overflow: hidden
  h1
    margin: 30px 0 10px
  h3
    color: darker-gray
    font-size: 16px
    font-weight: normal
    margin: 0 0 30px
  form
    background-color: white
    margin: 0 auto
    position: relative
    text-align: center
    width: 100%
    .flash
      left: 30px
      position: absolute
      top: 8px
    a
      color: teal
      text-decoration: none
    .section
      display: inline-block
      vertical-align: top
      > div
        padding: 50px 30px
        @media portrait_tablet
          padding: 50px 0
        @media phone
          padding: 15px
      .row
        margin: 20px auto
        width: 80%
        &:first-child
          margin-top: 0
        &.two
          input, .caption
            width: 49%
            &.right
              margin-left: 2%
      .cb
        margin: 44px auto 0
        width: 80%
        label
          color: black
          font-size: 12px
          font-weight: normal
          &:before
            top: 0
    input
      width: 100%
    label
      color: teal
      display: block
      font-size: 14px
      font-weight: bold
      margin-bottom: 10px
      text-align: left
    .caption
      display: none
      font-size: 13px
      text-align: left
      width: 100%
    @media portrait_tablet
      font-size: 15px
  .steps
    .step
      display: inline-block
      vertical-align: top
      width: 100%
      &.one
        form
          .vr
            border-left: 1px solid light-gray
            display: inline-block
            height: 780px
            margin-top: 50px
            @media phone
              display: none
          hr
            border: 0
            border-top: 1px solid light-gray
            margin: 40px 0
          .section
            &.avatar
              width: 19%
              text-align: center
              @media phone
                width: 100%
              .name
                margin: 20px 0
                text-transform: capitalize
                font-weight: bold
              .location
                color: darker-gray
                font-size: 14px
              img
                border-radius: 50%
                height: 70px
                width: 70px
              .file-upload
                color: teal
                cursor: pointer
                font-size: 14px
                font-weight: bold
                margin: 0 auto 30px
                i
                  font-size: 20px
                  margin-right: 5px
            &.info
              width: 40%
              @media phone
                border-bottom: thin solid border-gray
                width: 100%
            &.pwd
              width: 40%
              @media phone
                width: 100%
      &.two
        h6
          font-size: 13px
          font-weight: normal
          text-align: right
          a
            color: red
            font-size: 15px
            text-decoration: none
        form
          .section
            display: inline-block
            vertical-align: top
            width: 33.33%
          button
            margin-top: 20px
            width: 80%

.edit-contractor .steps .step.one
  form
    .vr
      height: 532px

.edit-customer .steps
  .teal
    color: teal
  h2
    display: inline-block
    font-size: 17px
    vertical-align: top
    text-align: left
  .step
    margin-bottom: 30px
    &.one
      form
        button
          margin-top: 25px
        .vr
          height: 262px
    &.two
      form
        padding: 20px 35px 20px 35px
        text-align: left
        box-sizing: border-box
        h2
          margin-right: 10px
        i
          font-size: 30px
          vertical-align: top
          margin: 4px 15px 0 0
          display: inline-block
        .section.one
          width: 28%
        .section.two
          width: 24%
        .section.three
          width: 24%
        .section.four
          width: 24%
    &.three
      form
        padding: 20px 35px 20px 35px
        text-align: left
        box-sizing: border-box
        .section.one
          padding-left: 15px
          width: 30%
          i
            display: inline-block
            vertical-align: top
            margin: 10px 15px 0 0
            font-size: 20px
            color: dark-gray

          h2
            text-align: center
            margin-right: 15px
            vertical-align: top
        .section.two
          width: 30%
          .icon-mag
            color: black
            vertical-align: top
            display: inline-block
            font-size: 20px
            margin: 11px 15px 0 0px
          input
            color: dark-gray
            text-align: center
            margin: 13px 0 0 0
            border: none
            width: 160px
            vertical-align: top
            display: inline-block
            font-size: 17px
            padding-bottom: 0
          .icon-acc-open
            position: absolute
            top: 28px
            right: 35px
        hr
          border-top: none
          border-bottom: 1px light-gray solid
          margin-top: 20px
.account-container .steps .step.one
  form
    .vr
      height: 365px

.contractor-account .steps .step.one
  form
    .vr
      height: 680px

.contractor-account.activate
  width: 80%
  margin: 30px auto 50px
  box-shadow: none
  border-radius: 0
  @media phone
    width: 95%
  .steps
    .step
      height: 0
      opacity: 0
      transition: opacity .4s ease-in-out
      h1
        margin-top: 0
        font-size: 20px
        padding: 0 18px
      h3
        font-size: 16px
        padding: 0 18px
      &.active
        opacity: 1
        height: auto
    .step.one .vr
      height: 620px
    .step.two
      span.red
        color: dark-red
      .availability-container
        .section
          width: 94%
          box-shadow: none
          border-radius: 0
          @media landscape_tablet
            padding: 50px 3%
          @media portrait_tablet
            padding: 50px 3%
          @media phone
            padding: 50px 0
          > div
            padding: 0
            &.flash
              padding: 8px 12px
          .caption
            display: block
            padding-top: 30px
        .icon-button
          @media phone
            width: 100%
    .step.three
      .section
        display: block
        width: 100%
        text-align: left
        > div
          padding: 50px 3%
        .row, .icon-button
          display: inline-block
          width: 23%
          @media phone
            width: 100%
        .row
          margin-right: 2.66%
          @media phone
            margin-right: 0
      h6
        font-size: 13px
        font-weight: normal
        text-align: right
        @media phone
          text-align: center
        a
          color: red
          font-size: 15px
          text-decoration: none
  form
    border-radius: 3px
    box-shadow: gray_shadow

.availability-container
  margin: 40px auto 0
  overflow: hidden
  form
    position: relative
    text-align: center
    .section
      border-radius: 3px
      box-shadow: gray_shadow
      background-color: white
      padding: 50px 30px
    .icon-button
      display: inline-block
      width: 150px
      float: right
      margin-top: 20px
    .flash
      left: 30px
      position: absolute
      top: 7px
    .day
      display: inline-block
      margin: 0 10px
      @media portrait_tablet
        margin: 0 1px
      @media phone
        margin: 10px
        display: block
      input[type=checkbox]
        display: none
      label
        border: 1px solid light-gray
        border-radius: 3px
        color: darker-gray
        cursor: pointer
        display: inline-block
        font-size: 13px
        font-weight: bold
        padding: 10px
        text-align: center
        text-transform: uppercase
        width: 50px
        @media phone
          width: 80%
        &:before
          content: ""
          display: inline-block
          margin-right: 0
        &.checked
          background-color: red
          border: 1px solid red
          color: white
    .caption
      border-top: 1px solid light-gray
      margin-top: 50px
      padding-top: 30px
      text-align: left
      > div
        display: inline-block
        span
          color: darker-gray
          display: inline-block
          font-size: 15px
          margin: 2px 0 0 5px
          vertical-align: top
        .box
          border: 1px solid light-gray
          border-radius: 3px
          display: inline-block
          height: 25px
          width: 25px
          &.opened
            background-color: red
            border: 1px solid red
            margin-left: 30px

.notification-container
  margin: 40px auto 0
  form
    position: relative
    text-align: right
    .section
      box-shadow: gray_shadow
      border-radius: 3px
      background-color: white
      padding: 30px
      position: relative
      @media phone
        padding: 30px 15px
      &:first-child
        margin-bottom: 30px;
    .icon-button
      display: inline-block
      margin: 20px 10px 0
      width: 150px
      @media phone
        margin: 20px 0 0
        width: 100%
    .flash
      left: 30px
      position: absolute
      top: 7px
    .header
      padding-bottom: 6px;
      span
        font-weight: bold
        display: inline-block
        text-align: center
        text-transform: uppercase
        width: 10%
        @media phone
          margin: 0
          width: 20%
        &:first-child
          text-transform: capitalize
          text-align: left
          width: 88%
          @media phone
            width: 80%
    .row
      border-top: 1px solid light-gray
      padding: 20px 0
      .text, label
        display: inline-block
        margin-top: 5px
        text-align: left
        vertical-align: top
      .text
        width: 88%
        @media phone
          width: 80%
      label
        text-align: center
        width: 10%
        @media phone
          width: 20%
