html
  height: 100%

html, body, .body
  min-height: 100%
  margin: 0
  font-family: LatoRegular
  color: black
  font-size: 100%
  position: relative

.body, .grey
  background-color: light-gray

header
  padding: 2px 20px 2px 12px
  background-color: white
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 10000
  .logo
    img
      vertical-align: top
      width: 64px
    .text
      display: inline-block
      vertical-align: top
      margin: 21px 0 0 15px
      font-size: 1.4em
      font-family: gotham-book
      color: navy
      upcase()
      span
        font-family: gotham-bold
  nav
    float: right
    margin-top: 14px
    #user
      display: inline-block
      vertical-align: top
      margin-top: -10px
      position: relative
      &:hover
        cursor: pointer
        .drop-container
          max-height: 260px
      .avatar, .name, .arrow
        display: inline-block
        vertical-align: top
      .avatar
        width: 60px
        height: 60px
        border-radius: 50%
        overflow: hidden
        img
          width: 60px
          height: 60px
      .name
        color: navy
        margin: 15px 10px 0 12px
        font-size: 1.2em
      .arrow
        margin: 19px 40px 0 0
        .typcn
          transform: rotate(90deg)
    .link
      display: inline-block
      vertical-align: top
      margin: 0 10px
      position: relative
      .head-button
        background-color: teal
        padding: 8px 12px
        border-radius: 1px
        color: white
        hover-darken()
        &.login
          background-color: navy
          hover-darken()
      > a
        text-decoration: none
        color: white
      &:hover
        cursor: pointer
      &.hover:hover
        .drop-container
          max-height: 260px
      &.head-button
        .drop-container
          top: 42px
          right: -25px
          .drop-arrow
            margin-left: 166px
      .drop-container
        position: absolute
        top: 52px
        width: 260px
        right: 1px
        .drop
          background-color: navy
        .drop-arrow
          width: 0
          height: 0
          border-left: 8px solid transparent
          border-right: 8px solid transparent
          border-bottom: 10px solid navy
          margin-left: 204px
        .links
          padding: 6px 0
          a
            &:hover
              background-color: lighter-navy
            .link
              margin: 8px 0 8px 15px
              color: dark-gray
            &:hover .link
              color: white
        &.properties
          overflow-y: scroll
          .search
            overflow: auto
            .input
              position: relative
              background-color: lighter-navy
              margin-left: 12px
              box-sizing: border-box
              width: 220px
              border-radius: 20px
              margin: 15px auto 0
              .fa
                position: absolute
                left: 16px
                top: 10px
                color: white
              input
                font-size: .9em
                background: none
                border: none
                padding-left: 40px
                color: white
                &:active, &:focus
                  outline: none
                  box-shadow: none
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
                  color: #4E5562
                  opacity: 1
          .links
            padding: 8px 0
            a
              &:active, &:focus
                outline: none
              .link
                display: inline-block
                vertical-align: top
                color: dark-gray
                max-height: 23px
                width: 220px
                text-align: left
              &:hover .link
                color: white

footer
  background-color: navy
  color: white
  padding: 70px 30px
  > div
    margin: 0 auto
    width: 900px
    > div
      display: inline-block
      vertical-align: top
      a
        display: block
      &.left
        font-size: 14px
        width: 600px
        a
          margin: 5px 0
          width: 80px
        p
          margin: 25px 0 0
      &.right
        text-align: center
        .button
          margin-bottom: 25px
          text-transform: uppercase
        .fa-heart
          margin: 0 3px
        .fa-facebook, .fa-twitter
          border-radius: 50%
          cursor: pointer
          float: left
          height: 30px
          line-height: 30px
          width: 30px
        .fa-facebook
          background-color: facebook-blue
          margin-left: -80px
        .fa-twitter
          background-color: twitter-blue
          margin-left: -40px
        div
          margin: 5px 0
          font-size: 13px
  a
    color: white
    text-decoration: none

.body
  width: 976px
  margin: 130px 0 0 130px
  position: relative
  transition: margin-left .4s ease-in-out

.button.teal, button.teal
  background-color: teal
  padding: 8px 12px
  border-radius: 1px
  color: white
  a
    text-decoration: none
    color: white

.drop-container
  max-height: 0
  overflow: hidden
  box-sizing: border-box
  transition: max-height .4s ease-in-out
  z-index: 1
  .links
    a
      display: block
      text-decoration: none
      .link
        margin: 8px 0 8px 15px

#sidebar-container
  z-index: 1
  background-color: light-navy
  position: fixed
  top: 64px
  min-height: 100%
  left: 0
  bottom: 0
  width: 80px
  transition: width .4s ease-in-out
  overflow: hidden
  &:hover
    width: 250px
  #sidebar
    color: white
    width: 250px
    .section
      padding-top: 15px
      &::after
        content: ''
        display: block
        height: 1px
      &:hover
        cursor: pointer
        background-color: lighter-navy
      &.active
        background-color: lighter-navy
      > a
        color: white
        &:active, &:focus
          outline: none
      .title
        margin-bottom: 15px
        text-align: center
      .icon, .text, .arrow
        display: inline-block
        vertical-align: top
      .icon
        margin-top: 11px
        .fa
          font-size: 1.8em
      .text
        margin: 13px 0 0 28px
        text-align: left
        width: 125px
      .arrow
        margin-top: 13px
      .drop-container
        background-color: navy
        .search
          margin: 20px 0 10px
          .input
            position: relative
            background-color: navy
            margin-left: 12px
            padding: 8px 12px
            box-sizing: border-box
            width: 220px
            border-radius: 20px
            .fa
              position: absolute
              left: 12px
              top: 11px
            input
              font-size: .9em
              background: none
              border: none
              padding-left: 25px
              color: light-navy
              &:active, &:focus
                outline: none
                box-shadow: none
              &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
                color: #4E5562
                opacity: 1
        .links
          padding: 8px 0
          a
            &:active, &:focus
              outline: none
            &:hover
              background-color: lighter-navy
            .link
              display: inline-block
              vertical-align: top
              color: dark-gray
              max-height: 23px
            &:hover .link
              color: white
form
  button
    border: 0
    background-color: teal
    color: white
    cursor: pointer
    width: 220px
    border-radius: 1px
    margin: 15px auto
    padding: 8px 4px 10px 6px
    hover-darken()
    &:focus, &:active
      outline: none
    .text
      margin-right: 6px
    .typn
      margin-top: -1px
    .text, .typcn
      display: inline-block
      vertical-align: top
    &.orange
      background-color: orange
      hover-darken()

.signup,
.signin,
.forgotpwd,
.default
  color: dark-gray
  width: 450px
  margin: 140px auto 50px
  text-align: center
  position: relative
  .title
    color: navy
    font-size: 2em
    margin-bottom: 25px
    text-transform: uppercase
  .field
    margin: 15px
    input
      box-sizing: content-box
      width: 300px
  .cb
    margin: 0 auto 15px
    text-align: left
    width: 324px
  a
    color: dark-gray
    text-decoration: none
  .create-account
    margin: 10px 0
    span
      display: block
      font-size: 15px
    .button
      background-color: light-gray
      color: darker-gray
      display: inline-block
      margin: 5px 0
      width: 300px
  .forgot-pwd
    font-size: 15px
  button
    background-color: orange
    font-weight: bold
    margin-bottom: 30px
    text-transform: uppercase
    width: 324px
    hover_darken()
  .button
    background-color: white
    color: darker-gray
    padding: 8px 12px
    border-radius: 1px
    hover-darken()
  .form-container
    overflow: hidden
    .steps
      width: 1350px
      transition: margin-left .6s ease
      .caption
        font-size: 15px
      .step
        width: 450px
        display: inline-block
        vertical-align: top
        &.three .caption
          margin-top: 45px
      .progress-container
        background-color: lighter-navy
        padding: 30px 0
      .progress
        margin: 0 auto
        position: relative
        width: 324px
        .typcn
          background-color: white
          color: teal
          font-size: 20px
          line-height: 20px
        hr
          border: 0
          border-top: 2px solid white
          position: absolute
          top: 5px
          width: 100%
          z-index: 1
        span
          background-color: lighter-navy
          border: 2px solid white
          border-radius: 50%
          color: white
          display: inline-block
          height: 24px
          line-height: 24px
          margin-left: 120px
          position: relative
          text-align: center
          width: 24px
          z-index: 2
          &.one
            margin-left: 0
          &.active
            background-color: teal
  .flash
    position: absolute
    top: -50px
    width: 600px
    left: 50%
    margin-left: -300px
    min-height: 38px

.flash
  border-radius: 3px
  box-sizing: border-box
  color: white
  font-size: 14px
  opacity: 0
  transition: opacity .6s ease, height .6s ease
  padding: 8px 12px
  display: inline-block
  vertical-align: top
  &.success
    background-color: green
  &.failure
    background-color: red
  &.info
    background-color: orange

#search-bar
  #search, #filters
    display: inline-block
    vertical-align: top
  #search
    margin-right: 10px
    width: 766px
    position: relative
    i
      color: dark-gray
      position: absolute
      left: 12px
      top: 14px
      font-size: 1.25em
    input
      width: 100%
      padding: 13px 12px 14px 40px
      border-radius: 1px
      border: thin solid light-gray
      color: black
      box-sizing: border-box
      &:active, &:focus
        outline: none
        border: thin solid #ccc
  .select2-container
    width: 200px
    .select2-choice
      background: white !important
      position: relative
      border-radius: 1px
      &::after
        typicons()
        content: '\e049'
        position: absolute
        right: 4px
        top: 17px
        transform: rotate(90deg)
    > a
      height: 34px
      border-radius: 1px
      line-height: 34px

.body
  .page-title
    font-size: 2em
    .fa
      margin-right: 20px
    .icon, .text
      display: inline-block
      vertical-align: top
    .icon
      margin-right: 15px
    .text
      margin-top: 2px
  .page-subtitle
    font-size: 15px
    margin-top: 10px

.container.contractor
  .page-title
    font-size: 1.6em
  .row
    margin-bottom: 25px
    .block
      background-color: white
      display: inline-block
      box-sizing: border-box
      vertical-align: top
      .head
        padding: 12px 15px
        border-bottom: thin solid light-gray
        height: 40px
        .right
          float: right
          width: 40px
          .arrow
            font-size: 1.1em
            margin-top: 19px
            transform: rotate(90deg)
        .photo, .icon
          width: 40px
          float: left
          display: inline-block
          vertical-align: top
        .photo
          img
            width: 40px
            height: 40px
            border-radius: 50%
        .icon
          font-size: 1.65em
          color: #ccc
        .text
          font-weight: 500
          font-size: 1.3em
          margin-top: 5px
          text-align: center
          display: inline-block
          vertical-align: top
      &.customer
        .info
          text-align: center
          .name
            font-size: 1.2em
            font-weight: 600
            margin: 35px 0 10px
          .number
            color: teal
    &.one
      .block
        width: 100%
    &.two
      .head
        .text
          width: 260px
      .block
        width: 370px
        &:first-child
          margin-right: 28px
    &.uneven
      .head
        .text
          width: 190px
      .block
        width: 444px
        height: 210px
        &:first-child
          width: 300px
          margin-right: 24px
    .top-info
      padding: 15px 25px
      margin-top: 20px
      .photo, .text, .icon
        display: inline-block
        vertical-align: top
      .photo
        img
          width: 64px
          height: 64px
          border-radius: 50%
      .address
        margin: 22px
      .total
        margin: 15px
        font-size: 1.2em
        span
          margin-right: 10px
          upcase()
        strong
          font-size: 1.2em
  .welcome
    font-size: 2em
    margin: 50px 0 15px
  .schedule
    margin-top: 50px
    .head
      border-bottom: thin solid heavy-gray
      padding-bottom: 10px
      margin-bottom: 20px
      font-weight: 700
      .right
        float: right
    .no-upcoming
      background-color: orange
      padding: 12px 15px
      color: white
      border-radius: 1px
      .icon, .text
        display: inline-block
        vertical-align: top
      .icon
        font-size: 1.25em
        margin-top: -4px
      .text
        margin-left: 5px
    .distribution
      .top
        background-color: orange
        padding: 12px 15px
        color: white
        font-weight: 600
        border-radius: 1px
        .icon, .text, .location
          display: inline-block
          vertical-align: top
        .right
          float: right
          .typcn
            transform: rotate(90deg)
        .icon
          font-size: 1.25em
          margin-top: -4px
        .text
          margin-left: 5px
        .location
          margin-left: 50px
      .bottom
        padding: 12px 15px
        background-color: white
        .right
          float: right
          .button
            padding: 0
            text-align: left
            width: 125px
            margin-top: -4px
            .icon, .text
              display: inline-block
              vertical-align: top
            .icon
              width: 30px
              height: 30px
              font-size: 1.5em
              .typcn
                margin: -4px 0 0 3px
            .text
              width: 95px
              text-align: center
              margin-top: 3px
        .beds
          .bed
            margin: 0 23px 0 7px
            display: inline-block
            vertical-align: top
            .type, .num
              display: inline-block
              vertical-align: top
            .type
              font-weight: 700
            .num
              margin-left: 8px
    .jobs
      margin-top: 15px
      .job
        background-color: white
        padding: 15px 25px
        .right
          float: right
          a
            text-decoration: none
            .button
              padding: 0
              text-align: left
              width: 135px
              margin-top: 8px
              .icon, .text
                display: inline-block
                vertical-align: top
              .icon
                width: 40px
                height: 40px
                font-size: 1.6em
                .typcn
                  margin-left: 7px
              .text
                width: 95px
                text-align: center
                margin-top: 8px
        .title, .address
          display: inline-block
          vertical-align: top
        .title
          font-weight: 700
          margin-top: 17px
        .address
          margin-left: 46px
          font-size: .9em
          .name
            font-weight: 600

.step-nav
  margin: 40px 0 10px
  .step
    display: inline-block
    vertical-align: top
    background-color: white
    border-radius: 1px
    width: 272px
    height: 40px
    margin-right: 6px
    color: light-gray
    border-bottom: 2px solid white
    padding: 6px 12px
    &:last-child
      margin-right: 0
    &.active
      border-bottom: 3px solid teal
      .text
        color: black
      .step-icon
        color: teal
    &.complete
      .check
        color: teal
    .icon, .text
      display: inline-block
      vertical-align: top
    .icon
      font-size: 1.6em
      &.check
        font-size: 2em
        float: right
        margin-top: -4px
    .text
      font-size: 1.2em
      margin: 5px 40px 0 8px

.property-form-container
  margin: 100px auto
  width: 900px
  .container
    margin: 20px 0
    overflow: hidden
    width: 100%
  .tabs
    text-align: center
    .tab
      display: inline-block
      vertical-align: top
      margin: 10px 20px
      padding-bottom: 4px
      &.active
        border-bottom: thin solid light-gray
      &:hover
        cursor: pointer
  .steps
    width: 2700px
    transition: margin-left .6s ease
    .step
      width: 900px
      display: inline-block
      vertical-align: top
      position: relative
      &.two .vr
        height: 280px
      &.three .vr
        height: 565px
      form
        background-color: white
        margin: 0 auto
        position: relative
        width: 100%
        .flash
          left: 30px
          position: absolute
          top: 8px
        a
          color: teal
          text-decoration: none
        .vr
          border-left: 1px solid light-gray
          display: inline-block
          height: 305px
          margin-top: 50px
        hr
          border: 0
          border-top: 1px solid light-gray
          margin: 20px 0
        .section
          display: inline-block
          padding: 50px 30px
          vertical-align: top
          .row
            margin: 20px 0
            &:first-child
              margin-top: 0
            &.two, &.four
              > div
                display: inline-block
                margin-left: 15px
                width: 47%
                &:first-child
                  margin-left: 0
              input, .caption
                width: 100%
            &.beds
              > div span
                display: inline-block
                width: 100px
            .select2-container
              width: 100%
              a
                color: black
          .cb
            margin-top: 44px
            label
              color: black
              font-size: 12px
              font-weight: normal
              &:before
                top: 0
          &.avatar
            width: 158px
            text-align: center
            .name
              margin: 20px 0
            .location
              color: darker-gray
              font-size: 14px
            img
              background-color: light-gray
              border-radius: 50%
              height: 100px
              width: 100px
            .file-upload
              color: teal
              cursor: pointer
              font-size: 15px
              font-weight: bold
              margin: 0 auto 30px
          &.info
            width: 280px
          &.action
            width: 280px
          &.home-type
            width: 250px
          &.bed-type
            width: 528px
            .row.two
              > div
                width: 150px
            .row.four
              > div
                width: 100px
          &.instructions
            width: 400px
          &.details
            button
              margin-top: 0
        input
          width: 100%
        textarea
          border: thin solid light-gray
          border-radius: 3px
          box-sizing: border-box
          height: 100px
          padding: 8px 12px
          width: 100%
          &:focus
            outline: none
        label
          color: teal
          display: block
          font-size: 14px
          font-weight: bold
          margin-bottom: 5px
          text-align: left
        button
          height: 40px
          margin: 30px 0 0
          position: relative
          width: 280px
          .text
            margin-left: 30px
          .icon
            background-color: light-navy
            display: inline-block
            height: 40px
            left: 0
            position: absolute
            top: 0
            width: 40px
            .fa
              line-height: 40px
        .caption
          display: inline-block
          font-size: 13px
          text-align: left
          width: 100%

#property
  #title
    background-color: white
    padding: 12px 20px
    border-radius: 1px
    .photo, .text
      display: inline-block
      vertical-align: top
    .photo
      img
        border-radius: 99px
        width: 90px
        height: 90px
    .text
      margin: 16px
      .title
        font-size: 1.75em
      .address
        color: teal
        font-weight: 600
  #columns
    margin-top: 25px
    .column
      display: inline-block
      vertical-align: top
      width: 470px
      margin-right: 35px
      &:last-child
        margin-right: 0
      .deactivate
        margin-top: 20px
        span
          color: teal
          &:hover
            cursor: pointer
      #map
        height: 240px
        margin-bottom: 15px
      .section
        background-color: white
        border-radius: 1px
        overflow: hidden
        margin-bottom: 15px
        .head
          padding: 15px
          color: #E8E9EA
          font-size: 1.25em
          text-align: center
          border-bottom: 2px solid light-gray
          transition: color .6s ease-in-out, border .6s ease-in-out
          .icon, .text, .arrow
            display: inline-block
            vertical-align: top
          .icon
            margin-right: 10px
            float: left
            font-size: 1.25em
            margin-top: -6px
          .arrow
            float: right
            font-size: 1.25em
            color: heavy-gray
            margin-top: -3px
            transform: rotate(90deg)
          .text
            color: heavy-gray
          &:hover
            cursor: pointer
        &.services
          table
            width: 92%
            margin: 25px auto
            thead
              border-bottom: thin solid light-gray
              tr
                th
                  text-align: left
                  padding-bottom: 10px
                  &.date
                    width: 90px
                  &.id
                    width: 90px
                  &.services
                    width: 190px
            tbody
              tr
                border-bottom: thin solid light-gray
                transition: height .4s ease-in-out
                td
                  padding: 10px 0 6px
                  color: darker-gray
                  vertical-align: top
                  &.id a
                    text-decoration: none
                    color: teal
                  &.services
                    font-size: .9em
                    .text
                      max-height: 20px
                      overflow: hidden
                      transition: max-height .4s ease-in-out
                  img
                    width: 22px
                    height: 22px
                    background-color: teal
                    margin: 0 3px
        &.cal
          .head
            background-color: teal
            color: white
            border-bottom: 0
            .text
              color: white
            .typcn
              color: white
        &.instructions
          .instruction
            padding: 30px
            padding-bottom: 0
            position: relative
            .content
              border-bottom: thin solid teal
            .title
              color: teal
              font-size: 1.1em
              font-weight: 600
            .text
              margin: 15px 0 30px
              color: darker-gray
            .edit
              opacity: 0
              position: absolute
              right: 5px
              top: 5px
              background-color: #F3F3F3
              width: 25px
              height: 25px
              border-radius: 1px
              color: teal
              transition: opacity .4s ease-in-out
              .typcn
                margin: 1px 0 0 5px
              &:hover
                cursor: pointer
            &:last-child .content
              border-bottom: 0
            &:hover .edit
              opacity: 1

#jobs
  .tabs
    margin: 40px 0
    .filters
      float: right
      position: relative
      .select2-container
        margin-top: 5px
        .select2-choice
          background-color: white !important
      .arrow
        position: absolute
        top: 14px
        right: 8px
        z-index: 10
        .typcn
          transform: rotate(90deg)
    .tab
      display: inline-block
      vertical-align: top
      margin-right: 10px
      background-color: #DBDDE1
      padding: 15px
      width: 150px
      text-align: center
      color: #A5A5A5
      &:hover
        cursor: pointer
      &.active, &:hover
        background-color: white
  .tab-content
    margin-top: 25px
    .tab
      display: none
      &.active
        display: block
      .day
        .head
          color: heavy-gray
          border-bottom: 2px solid heavy-gray
          padding-bottom: 10px
          font-size: 1.25em
          font-weight: 700
          margin-bottom: 20px
        .jobs
          .job
            background-color: white
            padding: 18px 32px
            margin: 5px auto 80px
            border-radius: 1px
            .button
              margin: 0 10px
              color: white
              text-align: left
              display: inline-block
              vertical-align: top
              float: right
              width: 200px
              padding: 0
              margin-top: 22px
              .icon, .text
                display: inline-block
                vertical-align: top
              .icon
                width: 40px
                height: 40px
                font-size: 1.6em
                .typcn
                  margin-left: 8px
              .text
                text-align: center
                font-size: 1.25em
                margin-top: 5px
                width: 160px
              &:hover
                cursor: pointer
            .photo, .title, .infos
              display: inline-block
              vertical-align: top
            .photo
              width: 80px
              height: 80px
              border-radius: 50%
              background-color: light-gray
              img
                border-radius: 50%
                height: 80px
                width: 80px
            .title
              margin: 28px 0 0 15px
              .text
                font-weight: bold
                font-size: 1.1em
            .infos
              float: right
              margin: 15px 30px 0 0
              .info
                .icon, .text
                  display: inline-block
                  vertical-align: top
                .icon
                  font-size: 2em
                  margin-right: 5px
                  color: #D3D3D3
                .text
                  font-size: 1.4em
                  margin-top: 10px
                  font-weight: 600

.calendar
  position: relative
  background-color: white
  padding: 25px 40px
  .arrows
    position: absolute
    left: 55px
    right: 55px
    z-index: 10
    .arrow
      font-size: 1.5em
      color: teal
      &:hover
        cursor: pointer
      &.prev
        float: left
        .typcn::before
          content: '\e00d'
      &.next
        float: right
        .typcn::before
          content: '\e01a'
  .table
    text-align: center
    table
      width: 100%
      thead
        th
          &.month
            font-size: 1.5em
            padding-bottom: 20px
            color: teal
            .month_name
              font-weight: 600
          &.day_of_week
            color: #B3B3B3
            font-weight: bold
          &:hover
            cursor: default
      tbody
        td
          padding: 16px
          color: #999
          border-radius: 50%
          &:hover
            cursor: default
          &.inactive, &.past
            color: #E0E0E0
          &.booked, &.chosen
            background-color: teal
            color: white
          &.active:hover
            cursor: pointer
          &.active:hover, &.selecting
            background-color: teal
            color: white
          &.active.chosen:hover
            background-color: light-gray
            color: #999
          &.active.chosen.selecting
            background-color: white

#properties .property
  &:hover
    cursor: pointer
    .right
      background-color: lighter-gray
      
#properties .property, #property .property
  background-color: white
  margin: 10px auto
  border-radius: 1px
  .right
    width: 826px
  .top
    padding: 18px
    height: 65px
  .bottom
    border-top: 2px solid light-gray
    font-size: .9em
    .next-service
      float: right
      background-color: lighter-gray
      width: 212px
      height: 47px
      .icon
        font-size: 1.75em
        margin: 3px 0 0 10px
        color: #ccc
      .text
        margin: 12px 0 0 8px
        color: darker-gray
    .left
      padding: 15px 18px
    .id, .rooms, .icon, .text
      display: inline-block
      vertical-align: top
    .id
      color: dark-gray
    .rooms
      color: dark-gray
      .typcn
        color: dark-gray
        font-size: 1.1em
        margin: -3px 5px 0 20px
  .button
    color: white
    text-align: left
    display: inline-block
    vertical-align: top
    float: right
    width: 180px
    padding: 0
    margin-top: 15px
    .icon, .text
      display: inline-block
      vertical-align: top
    .icon
      background-color: light-teal
      width: 40px
      height: 40px
      font-size: 1.6em
      .typcn
        margin-left: 8px
    .text
      text-align: center
      font-size: 1.1em
      margin-top: 7px
      width: 140px
    &:hover
      cursor: pointer
    &.teal
      background-color: teal
      &:hover
        background-color: light-teal
  .manage
    float: right
    font-size: .9em
    color: teal
    margin: 25px 15px 0 0
    display: none
    &:hover
      text-decoration: underline
  .photo, .title, .right
    display: inline-block
    vertical-align: top
  .photo
    width: 150px
    height: 150px
    background-color: light-gray
    img
      height: 100%
      width: 100%
  .title
    margin-top: 15px
    .name
      font-weight: bold
    .address
      margin-top: 4px
      color: dark-gray
  a
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline

#property .property
  margin-top: 25px
  position: relative
  .beds, .bed, .text
    display: inline-block
    vertical-align: top
  .beds
    margin: 37px 0 0 100px
    .text
      font-weight: 600
      margin-right: 10px
    .bed
      padding: 0 15px
      border-right: thin solid light-gray
      &:last-child
        border-right: 0
  .bottom
    .id, .id a
      color: #ccc
  .edit
    opacity: 0
    position: absolute
    right: 5px
    top: 5px
    background-color: #F3F3F3
    width: 25px
    height: 25px
    border-radius: 1px
    color: teal
    transition: opacity .4s ease-in-out
    .typcn
      margin: 1px 0 0 5px
    &:hover
      cursor: pointer
  &:hover .edit
    opacity: 1

#home
  #welcome
    font-size: 2em
    margin: 40px 0
  #properties
    margin-top: 10px
    .property-link
      display: block
      color: #24272a
    .new-property
      text-decoration: none
      .container
        transition: background-color .5s ease-in-out
        border: 2px solid white
        border-radius: 1px
        padding: 15px 25px
        box-sizing: border-box
        color: teal
        margin-top: 15px
        .icon, .text
          display: inline-block
          vertical-align: top
        .icon
          width: 20px
          height: 20px
          border-radius: 50%
          border: 2px solid teal
          margin-right: 10px
          .typcn
            margin: -2px 0 0 2px
      &:hover .container
        background-color: white

.card-entry
  border: thin solid #ccc
  border-radius: 3px
  margin-top: 20px
  .title
    margin-top: 20px
    background-color: #eee
    padding: 10px
    font-weight: bold
    font-size: 1.1em
    img
      float: right
  .card-details
    padding: 20px
    .field
      display: inline-block
      .label
        font-size: .75em
        color: gray
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 5px
      &.card-number
        input
          width: 185px
          margin-right: 17px
      &.expiry
        input
          width: 74px
      &.cvc
        margin: 12px 0 0 17px
        input
          width: 54px

.select2-container
  vertical-align: top
  border-bottom: 2px solid white
  padding-bottom: 0 !important
  border: none !important
  a
    background: none !important
    border: thin solid light-gray !important
    border-radius: 3px
    color: white
    box-shadow: none !important
    padding: 6px 12px !important
    .select2-arrow
      display: none !important
    .select2-chosen
      margin-right: 0

.select2-drop
  margin-top: 0px !important
  border: thin solid light-gray !important
  border-top: none !important
  .select2-result-label
    .state
      font-size: .8em
      color: #aaa
      margin-left: 10px
      display: inline-block
      vertical-align: top
      margin-top: 2px
  .select2-search
    margin-top: 5px

.ngdialog
  .ngdialog-content
    background: white
    color: #444
    margin: auto
    max-width: 100%
    position: relative
    .modal
      position: relative
      .flash
        border-radius: 0
        width: 100%
  .ngdialog-close
    color: gray
    font-size: 1.5em
    margin-right: 6px
    position: absolute
    right: 0
    top: 0
    transition: opacity .5s ease-in-out
    hover-darken()
    &:hover
      cursor: pointer
    &::before
      typicons()
      content: '\e057'

.ngdialog.auth
  .ngdialog-content
    margin-top: 120px
    width: 450px
    .modal
      .title
        background-color: navy
        color: white
        font-size: 18px
        margin: 0
        padding: 15px 20px
        text-align: left
      .flash
        border-radius: 0
        top: 60px
        width: 450px
        margin-left: -225px
      form
        margin-top: 50px
      .create-account
        padding-bottom: 40px
      &.signup .flash
        top: 148px
  .ngdialog-close
    &:before
      background: transparent
      color: white
      content: "\00D7"
      font-size: 26px
      font-weight: 400
      height: 30px
      line-height: 26px
      position: absolute
      right: 10px
      text-align: center
      top: 12px
      width: 30px

.ngdialog.account
  .ngdialog-content
    width: 400px
    margin-top: 60px
    .modal
      background-color: white
      overflow: hidden
      .header
        border-bottom: 1px solid red
        color: red
        padding: 20px
      .footer
        background-color: light-gray
        padding: 30px
        position: relative
        .buttons
          position: absolute
          right: 15px
          top: 12px
          .button
            display: inline-block
            width: 100px
            &.white
              margin-right: 10px
      .content
        padding: 30px 20px
        text-align: center
        .text
          color: darker-gray
          font-size: 15px
          .capitalize
            text-transform: capitalize
        .fa
          background-color: red
          border-radius: 50%
          color: white
          font-size: 35px
          height: 50px
          line-height: 50px
          margin-bottom: 20px
          text-align: center
          width: 50px

.ngdialog.payment
  .ngdialog-content
    width: 400px
    margin-top: 60px
    .modal
      background-color: white
      overflow: hidden
      .flash
        border-radius: 0
        height: 50px
        left: 0
        position: absolute
        top: 0
        width: 100%
      .header
        background-color: teal
        color: white
        font-size: 1.25em
        padding: 10px
        height: 50px
        box-sizing: border-box
        transition: background-color 1s ease-in-out, height 1s ease-in-out
        .text
          text-align: center
          transition: opacity .5s ease-in-out
        &.failure
          background-color: red
        &.success
          background-color: green
        &.info
          background-color: orange
      .content
        display: inline-block
        vertical-align: top
        box-sizing: border-box
        width: 350px
        margin: 25px 0 0 25px
        .buttons
            margin: 25px auto
            .cancel
              text-align: center
              margin-top: 10px
              span
                color: teal
                &:hover
                  cursor: pointer
            .button
              margin: 0 10px
              color: white
              text-align: left
              display: inline-block
              vertical-align: top
              padding: 0
              .icon, .text
                display: inline-block
                vertical-align: top
              .icon
                background-color: light-teal
                width: 40px
                height: 40px
                font-size: 1.6em
                .typcn
                  margin-left: 8px
                .fa
                  font-size: 20px
                  margin-left: 8px
              .text
                text-align: center
                font-size: 1.25em
                margin-top: 5px
              &:hover
                cursor: pointer
              &.teal
                background-color: teal
                &:hover
                  background-color: light-teal
            &.one
              .button
                width: 300px
                display: block
                margin: auto
                border-radius: 1px
                .text
                  width: 260px
        .payment-tab
          display: none
          &.active
            display: block
          &.ach
            .row.two
              .field
                width: 170px
                input
                  width: 120px
          &.credit-card
            .row.two
              .field
                width: 130px
                input
                  width: 80px
        .payment-method
          margin-bottom: 25px
          border-bottom: 2px solid light-gray
          padding-bottom: 25px
          .text
            margin-bottom: 10px
          .select2-container
            width: 200px
            > a
              background: lighter-gray !important
              color: heavy-gray
              border: thin solid light-gray
              border-radius: 1px !important
        input
          background: lighter-gray
          border: thin solid light-gray
          margin: 10px 0 20px
          padding: 8px 12px
          border-radius: 1px
          width: 210px
          &:active, &:focus
            outline: none
        .row.two
          .field
            display: inline-block
            vertical-align: top
        .head
          color: teal
          font-size: 1.5em
          text-align: center
          position: relative
          padding: 20px
          border-bottom: 2px solid light-gray
          .arrows
            position: absolute
            top: 20px
            left: 30px
            right: 30px
            color: heavy-gray
            .arrow
              &:hover
                cursor: pointer
              &.prev
                float: left
              &.next
                float: right
          .text
            span
              font-weight: 600

.ngdialog.booking
  .ngdialog-content
    width: 976px
    margin-top: 40px
    .modal
      background-color: white
      overflow: hidden
      .header
        background-color: teal
        color: white
        font-size: 1.25em
        padding: 10px
        height: 50px
        box-sizing: border-box
        transition: background-color 1s ease-in-out, height 1s ease-in-out
        &.red
          background-color: red
        &.red-transition
          transition: background-color .6s ease-in-out
        .icon
          position: absolute
          background-color: light-teal
          top: 0
          left: 0
          height: 50px
          width: 50px
          font-size: 1.6em
          padding-left: 8px
          box-sizing: border-box
          transition: background-color 1s ease-in-out, opacity .5s ease-in-out
        .text
          text-align: center
          transition: opacity .5s ease-in-out
        &.failure
          background-color: red
          .icon
            background-color: dark-red
        &.success
          background-color: green
        &.info
          background-color: orange
      .content-container
        width: 2928px
        height: 540px
        overflow: hidden
        transition: margin-left .5s ease-in-out
        .content-group
          display: inline-block
          vertical-align: top
          .foot
            background-color: #EDEEF1
            height: 52px
            .left
              float: left
              margin-left: 15px
              .button, .text
                display: inline-block
                vertical-align: top
              > .text
                margin: 16px 0 0 16px
                font-size: .9em
                span
                  color: red
                  &:hover
                    cursor: pointer
              .button
                background-color: white
                color: heavy-gray
                margin-top: 7px
                width: 130px
                &:hover
                  background-color: #FAFAFA
            .right
              float: right
              margin-right: 15px
              .total, .button
                display: inline-block
                vertical-align: top
              .button
                margin-top: 7px
                width: 90px
                .icon, .text
                  display: inline-block
                  vertical-align: top
                &.right
                  margin: 0
                  padding: 0
                  text-align: left
                  margin-right: -15px
                  width: 488px
                  box-sizing: border-box
                  height: 52px
                  .icon
                    box-sizing: border-box
                    height: 52px
                    width: 52px
                    font-size: 2em
                    padding-left: 10px
                  .text
                    width: 436px
                    text-align: center
                    font-weight: 600
                    font-size: 1.2em
                    margin-top: 12px
              .total
                margin-top: 4px
                .text
                  display: inline-block
                  &.dollar, &.amount
                    color: teal
                  &.dollar
                    vertical-align: top
                    margin: 4px 2px 0 0
                    font-size: 1.1em
                  &.amount
                    font-size: 2em
                    font-weight: 600
                  &.per
                    vertical-align: bottom
                    margin: 0 30px 4px 6px
        .content
          width: 488px
          height: 488px
          display: inline-block
          vertical-align: top
          box-sizing: border-box
          margin: 0
          background-color: #F7F7F7
          &:first-child
            background-color: white
          .content-side-container
            width: 976px
            margin-left: -488px
            transition: margin-left .6s ease-in-out
            .content-side
              display: inline-block
              vertical-align: top
              width: 488px
          .buttons
            margin: 25px auto
            .cancel
              text-align: center
              margin-top: 10px
              span
                color: teal
                &:hover
                  cursor: pointer
            .button
              margin: 0 10px
              color: white
              text-align: left
              display: inline-block
              vertical-align: top
              padding: 0
              .icon, .text
                display: inline-block
                vertical-align: top
              .icon
                width: 40px
                height: 40px
                font-size: 1.6em
                .typcn
                  margin-left: 8px
              .text
                text-align: center
                font-size: 1.25em
                margin-top: 5px
            &.one
              .button
                width: 300px
                display: block
                margin: auto
                border-radius: 1px
                .text
                  width: 260px
            &.two
              width: 300px
              .button
                width: 130px
                .text
                  width: 90px
          &.side
            display: none
            &.active
              display: inline-block
          &.payment
            padding: 35px
            .payment-tab
              display: none
              height: 238px
              &.active
                display: block
              &.ach
                .row.two
                  .field
                    width: 170px
                    input
                      width: 120px
              &.credit-card
                .row.two
                  .field
                    width: 130px
                    input
                      width: 80px
            .payment-title
              color: teal
              font-weight: 700
              font-size: 1.1em
              margin-top: 35px
            .payment-method
              margin: 25px 0
              border-bottom: 2px solid light-gray
              padding-bottom: 25px
              position: relative
              .icon, .arrow
                position: absolute
                z-index: 10
              .icon
                font-size: 1.45em
                left: 5px
              .arrow
                top: 8px
                right: 12px
                transform: rotate(90deg)
              .text
                margin-bottom: 10px
              .select2-container
                width: 100%
                > a
                  color: heavy-gray
                  background: white !important
                  border: none !important
                  border-radius: 1px !important
              &.existing .select2-container > a
                padding-left: 35px !important
            input
              background: lighter-gray
              border: thin solid light-gray
              margin: 10px 0 20px
              padding: 8px 12px
              border-radius: 1px
              width: 210px
              &:active, &:focus
                outline: none
            .row.two
              .field
                display: inline-block
                vertical-align: top
          &.details, .content-side.details
            padding: 80px 60px 0
            box-sizing: border-box
            .days
              height: 250px
              overflow: scroll
              .day
                .total
                  border-top: thin solid #ccc
                  border-bottom: thin solid #ccc
                  padding: 10px 0
                  margin-top: 20px
                  font-weight: 700
                  .price
                    color: #E1625C
                .day-services
                  margin: 15px 0 20px
                  max-height: 192px
                  overflow: hidden
                  transition: max-height .6s ease-in-out
                  .service
                    margin: 10px 0
            > .total
              border-top: 2px solid teal
              border-bottom: 2px solid teal
              padding: 8px 0
              .text
                font-weight: 700
                upcase()
            .text, .price, .question, .arrow
              display: inline-block
              vertical-align: top
            .arrow
              transform: rotate(90deg)
              margin-right: 5px
              &:hover
                cursor: pointer
            .question
              background-color: #e1e1e1
              border-radius: 50%
              width: 20px
              height: 20px
              box-sizing: border-box
              padding: 1px 7px
              font-size: .8em
              margin: 1px 0 0 10px
              &:hover
                cursor: pointer
            .price
              float: right
              font-weight: 700
            .setup
              font-weight: 700
          &.confirmation
            display: none
            width: 976px
            height: 540px
            text-align: center
            color: white
            &.active
              display: inline-block
            &.teal
              background-color: teal
              .foot
                background-color: teal
              .check-icon
                background-color: light-teal
            &.red
              background-color: red
              .foot
                background-color: red
              .check-icon
                background-color: dark-red
            .check-icon
              font-size: 5em
              border-radius: 50%
              width: 100px
              height: 100px
              margin: 40px auto 20px
              overflow: auto
              .typcn
                margin-top: -10px
            .title-text
              font-size: 1.5em
            .check-container
              border-top: thin solid white
              border-bottom: thin solid white
              padding: 20px 0
              margin: 20px auto
              width: 350px
              > .text
                font-size: 1.4em
                font-weight: 600
              .date
                font-size: 3em
                font-weight: 700
              .check
                width: 174px
                display: inline-block
                vertical-align: top
                &.in
                  border-right: thin solid white
                .time
                  font-weight: 700
                  font-size: 1.8em
                .text
                  font-size: 1.1em
            .subtext
              width: 600px
              margin: 40px auto
              font-size: 1.1em
              line-height: 1.8em
            .farewell
              font-size: 1.5em
            .actions
              margin-top: 30px
              .action
                display: inline-block
                vertical-align: top
                font-size: 3em
                border-radius: 50%
                border: 2px solid white
                height: 50px
                width: 50px
                margin: 0 15px
                .typcn
                  margin-top: -11px
                &:hover
                  cursor: pointer
          .services
            text-align: center
            margin-top: 30px
            .service
              margin: 20px 0
              .icon, .text, label
                display: inline-block
                vertical-align: top
              .icon
                background-color: lighter-navy
              &.active
                .icon
                  background-color: teal
              .text
                font-size: 1.25em
                width: 160px
                margin: 14px 0 0 14px
                text-align: left
              label
                margin: 18px 0 0 15px
          .extra
            width: 300px
            margin: 40px auto 0
            .title
              font-size: 1.1em
              font-weight: 700
              color: teal
              border-top: thin solid #ccc
              border-bottom: thin solid #ccc
              padding: 10px 0
            .service
              border-bottom: thin solid #ccc
              padding: 10px 0
              .icon, .text
                display: inline-block
                vertical-align: top
              .text
                font-size: 1.1em
                width: 234px
                margin-right: 20px
          .payment
            width: 300px
            margin: 5px auto
            position: relative
            .overlay
              position: absolute
              top: 0
              left: 0
              right: 0
              bottom: 0
              z-index: 100000
              display: none
              &:hover
                cursor: pointer
            .icon, .arrow
              position: absolute
              z-index: 100
              font-size: 1.25em
              top: 4px
            .icon
              left: 10px
            .arrow
              right: 10px
              margin-top: 2px
              transform: rotate(90deg)
            &.new
              .overlay, .arrow
                display: block
                transform: rotate(0deg)
                margin-top: 0
            .select2-container
              width: 100%
              > a
                background: lighter-gray !important
                color: heavy-gray
                font-weight: 600
                border-radius: 1px
                .select2-chosen
                  margin-left: 25px
          .head
            color: teal
            font-size: 1.5em
            text-align: center
            position: relative
            padding: 20px
            border-bottom: 2px solid light-gray
            .arrows
              position: absolute
              top: 20px
              left: 30px
              right: 30px
              color: heavy-gray
              .arrow
                &:hover
                  cursor: pointer
                &.prev
                  float: left
                &.next
                  float: right
            .text
              span
                font-weight: 600

.ngdialog.status
  .ngdialog-content
    color: darker-gray
    width: 360px
    margin-top: 60px
    .modal
      background-color: white
      overflow: hidden
      .steps
        width: 720px
        transition: margin-left 0.6s ease
        .step1,
        .step2
          display: inline-block
          padding: 30px 20px
          text-align: center
          vertical-align: top
          width: 320px
          .text
            font-size: 18px
            font-weight: bold
          .fa-flash,
          .fa-check
            background-color: orange
            border-radius: 50%
            color: white
            font-size: 35px
            height: 50px
            line-height: 50px
            margin: 40px 0 20px
            text-align: center
            width: 50px
          .fa-check
            background-color: teal
          .position
            font-weight: bold
            span
              color: orange
            .fa
              margin: 0 10px
          .info
            margin: 30px 0
            img
              border-radius: 50%
              display: inline-block
              width: 60px
            .name
              color: teal
              display: inline-block
              line-height: 60px
              margin-left: 10px
              vertical-align: top
          .actions
            margin-top: 30px
            .fa
              background-color: white
              border: 2px solid
              border-radius: 50%
              cursor: pointer
              font-size: 40px
              height: 45px
              line-height: 45px
              margin: 0 5px
              text-align: center
              width: 45px
              &.confirm
                color: teal

.cb
  input[type=checkbox]
    display: none
    &:checked + label:before
      color: darker-gray
      content: "\2713"
      font-size: 15px
      line-height: 15px
      text-align: center
  label
    cursor: pointer
    display: inline-block
    font-size: 13px
    margin-right: 15px
    padding-left: 25px
    position: relative
    &:before
      border: 1px solid light-gray
      bottom: 1px
      content: ""
      display: inline-block
      height: 16px
      left: 0
      margin-right: 10px
      position: absolute
      width: 16px

.pagination
  ul
    list-style-type: none
    margin: 15px 0
    padding: 0
    text-align: center
    li
      display: inline-block
      padding: 5px 10px
      margin: 0 8px
      &.active
        font-weight: bold
      &.disabled a
        color: darker-gray
        cursor: not-allowed
      a
        color: teal
        font-size: 18px
        text-decoration: none
        &:hover
          color: navy

.faq-container
  margin: 40px auto 0
  overflow: hidden
  section
    background-color: white
    margin: 10px 0
    padding: 30px 20px
    a
      color: black
      outline: none
      text-decoration: none
    header
      font-weight: bold
      padding: 0
      position: relative
      .fa
        color: darker-gray
        position: absolute
        right: 0
        top: 3px
    content
      border-top: 1px solid light-gray
      color: darker-gray
      display: none
      font-size: 15px
      margin-top: 20px
      padding-top: 20px
      width: 100%
      &.active
        display: block

.pricing-container
  margin: 40px auto 0
  overflow: hidden
  section
    color: teal
    display: inline-block
    margin-left: 12px
    vertical-align: top
    width: 248px
    &:first-child
      margin-left: 0
    .content
      background-color: white
      min-height: 200px
      padding: 35px 10px
      text-align: center
      img.icon
        width: 120px
      h2
        font-size: 18px
      h3
        border-bottom: 1px solid light-gray
        color: dark-gray
        font-size: 13px
        margin: 40px 0 0
        padding-bottom: 30px
      .per-bed
        margin-top: 30px
        span
          display: inline-block
          font-weight: bold
          width: 50%
          &:first-child
            color: black
            font-weight: normal
            text-align: right
      .home-type
        margin-top: 30px
        span
          display: inline-block
          font-weight: bold
          text-align: left
          width: 50px
          &:first-child
            border-right: 1px solid light-gray
            color: black
            font-weight: normal
            margin-right: 10px
            padding-right: 10px
            text-align: right
            width: 100px
        .header
          border-bottom: 1px solid light-gray
          margin-bottom: 10px
          padding-bottom: 5px
      &.staging
        margin-top: 12px
        h2
          color: darker-gray
    &.linen
      color: red
    &.toiletries
      color: orange
      img
        width: 100%
        &.bigelo
          background-color: orange
          padding: 15px
          width: 218px

.contact-form-container
  overflow: hidden
  margin: 40px auto 0
  border-radius: 1px
  .section
    background-color: white
    padding: 30px
    .flash
      margin: 5px 0
    .right
      text-align: right
    button
      margin-bottom: 0
      width: 100px
      .fa
        margin-left: 3px
    textarea
      border: thin solid light-gray
      border-radius: 3px
      box-sizing: border-box
      height: 200px
      padding: 8px 12px
      width: 100%
    p
      color: teal
      margin: 0
  ul.links
    margin: 10px 0 0
    padding: 0
    list-style-type: none
    li
      background-color: white
      display: inline-block
      margin-left: 10px
      padding: 20px
      width: 209px
      &:first-child
        margin-left: 0
      a
        color: teal
      .fa
        border-right: 1px solid light-gray
        font-size: 25px
        padding-right: 10px
      span
        display: inline-block
        font-size: 14px
        margin-top: 2px
        padding-left: 10px
        vertical-align: top

.payment-container
  background-color: white
  margin: 40px auto 0
  overflow: hidden
  padding: 30px
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      border: 1px solid light-gray
      margin-bottom: 5px
      padding: 20px
      position: relative
      a
        color: teal
        margin-left: 30px
        text-decoration: none
      div
        display: inline-block
      .details
        strong
          font-weight: normal
          text-transform: capitalize
      .links
        position: absolute
        right: 20px
        .primary
          background-color: light-gray
          border-radius: 3px
          color: darker-gray
          padding: 5px 25px
      .fa
        font-size: 25px
        margin-right: 20px
      &.add-payment
        color: teal

.first-property
  .hero
    background-color: white
    ul
      list-style-type: none
      margin: 0
      padding: 60px 0
      li
        display: inline-block
        text-align: center
        width: 33%
  .form-container
    background-color: white
    margin-top: 5px
    text-align: center
  form
    .title
      font-weight: bold
      margin-bottom: 20px
    .field
      display: inline-block
    .button
      margin-left: 10px
      width: 70px
    .flash
      margin-top: -18px
    .section
      padding: 50px 20px
      &.notify
        background-color: red
        color: white
        display: none
        height: 35px
        padding: 10px 0
        position: relative
        .title
          font-size: 15px
          font-weight: normal
          left: 10px
          margin: 0 10px
          position: absolute
          .fa
            background-color: dark-red
            border-radius: 50%
            color: white
            font-size: 20px
            height: 35px
            line-height: 35px
            margin-right: 10px
            text-align: center
            width: 35px
        .row
          position: absolute
          right: 10px
        .button
          line-height: 35px
          padding: 0

.switch
  input
    display none
  i
    display inline-block
    cursor pointer
    padding-right 20px
    transition all ease 0.2s
    border-radius 20px
    box-shadow inset 0 0 1px rgba(0,0,0,.5)
    &:before
      display block
      content ''
      width 20px
      height 20px
      border-radius 20px
      background white
      box-shadow 0 1px 2px rgba(0,0,0,.5)
  :checked
    & + i
      padding-right 0
      padding-left 20px
  &.red
    :checked
      & + i
        box-shadow inset 0 0 1px rgba(0,0,0,.5), inset 0 0 60px teal

.select2-drop.payment
  z-index: 10000
  .select2-results
    margin: 0
    padding: 0
    .select2-result
      background-color: heavy-gray
      color: white
      border-top: thin solid white
      padding: 8px 12px
      hover-lighten()

.contractor-account,
.edit-contractor,
.edit-customer,
.account-container
  margin: 100px auto
  width: 900px
  .page-title
    font-size: 25px
    .fa
      margin-right: 10px
  .deactivate,
  .reactivate
    margin-top: 20px
    span
      color: red
      cursor: pointer
  .container
    margin: 20px 0
    overflow: hidden
    width: 100%
    h1
      margin: 30px 0 10px
    h3
      color: darker-gray
      font-size: 16px
      font-weight: normal
      margin: 0 0 30px
    form
      background-color: white
      margin: 0 auto
      position: relative
      text-align: center
      width: 100%
      .flash
        left: 30px
        position: absolute
        top: 8px
      a
        color: teal
        text-decoration: none
      .section
        display: inline-block
        padding: 50px 30px
        vertical-align: top
        .row
          margin: 20px 0
          &:first-child
            margin-top: 0
          &.two
            input, .caption
              width: 48%
              &.right
                margin-left: 10px
        .cb
          margin-top: 44px
          label
            color: black
            font-size: 12px
            font-weight: normal
            &:before
              top: 0
      input
        width: 100%
      label
        color: teal
        display: block
        font-size: 14px
        font-weight: bold
        margin-bottom: 5px
        text-align: left
      button
        height: 40px
        margin: 40px 0 0
        position: relative
        width: 100%
        .text
          margin-left: 30px
        .icon
          background-color: light-navy
          display: inline-block
          height: 40px
          left: 0
          position: absolute
          top: 0
          width: 40px
          .fa
            line-height: 40px
      .caption
        display: inline-block
        font-size: 13px
        text-align: left
        width: 100%
    .steps
      width: 1800px
      transition: margin-left .6s ease
      .step
        display: inline-block
        vertical-align: top
        width: 900px
        &.one
          form
            .vr
              border-left: 1px solid light-gray
              display: inline-block
              height: 830px
              margin-top: 50px
            hr
              border: 0
              border-top: 1px solid light-gray
              margin: 40px 0
            .section
              &.avatar
                width: 158px
                text-align: center
                .name
                  margin: 20px 0
                .location
                  color: darker-gray
                  font-size: 14px
                img
                  border-radius: 50%
                  height: 100px
                  width: 100px
                .file-upload
                  color: teal
                  cursor: pointer
                  font-size: 15px
                  font-weight: bold
                  margin: 0 auto 30px
              &.info
                width: 280px
              &.pwd
                width: 280px
        &.two
          h6
            font-size: 13px
            font-weight: normal
            text-align: right
            a
              color: red
              font-size: 15px
              text-decoration: none
          form
            .section
              display: inline-block
              padding: 50px 30px
              vertical-align: top
            button
              margin-top: 24px
              width: 200px

.edit-contractor .container .steps .step.one
  form
    .vr
      height: 532px

.edit-customer .container .steps .step.one
  form
    button
      margin-top: 25px
    .vr
      height: 262px

.account-container .container .steps .step.one
  form
    .vr
      height: 365px

.availability-container
  margin: 40px auto 0
  overflow: hidden
  form
    position: relative
    text-align: center
    .section
      background-color: white
      padding: 50px 30px
    button
      float: right
      height: 40px
      position: relative
      .icon
        background-color: light-navy
        display: inline-block
        height: 40px
        left: 0
        position: absolute
        top: 0
        width: 40px
        .fa
          line-height: 40px
      .text
        margin-left: 30px
    .flash
      left: 30px
      position: absolute
      top: 7px
    .day
      display: inline-block
      margin: 0 10px
      input[type=checkbox]
        display: none
      label
        border: 1px solid light-gray
        border-radius: 3px
        color: darker-gray
        cursor: pointer
        display: inline-block
        font-size: 13px
        font-weight: bold
        padding: 10px
        text-align: center
        text-transform: uppercase
        width: 50px
        &:before
          content: ""
          display: inline-block
          margin-right: 0
        &.checked
          background-color: red
          border: 1px solid red
          color: white
    .caption
      border-top: 1px solid light-gray
      margin-top: 50px
      padding-top: 30px
      text-align: left
      > div
        display: inline-block
        span
          color: darker-gray
          display: inline-block
          font-size: 15px
          margin: 2px 0 0 5px
          vertical-align: top
        .box
          border: 1px solid light-gray
          border-radius: 3px
          display: inline-block
          height: 25px
          width: 25px
          &.opened
            background-color: red
            border: 1px solid red
            margin-left: 30px

.notification-container
  margin: 40px auto 0
  overflow: hidden
  form
    position: relative
    text-align: center
    .section
      background-color: white
      padding: 50px 30px
    button
      float: right
      height: 40px
      position: relative
      .icon
        background-color: light-navy
        display: inline-block
        height: 40px
        left: 0
        position: absolute
        top: 0
        width: 40px
        .fa
          line-height: 40px
      .text
        margin-left: 30px
    .flash
      left: 30px
      position: absolute
      top: 7px
    .header
      margin: 0 20px 10px 0
      text-align: right
      text-transform: uppercase
      span
        display: inline-block
        text-align: center
        width: 70px
    .row
      border-top: 1px solid light-gray
      padding: 20px 0
      .text, label
        display: inline-block
        margin-top: 5px
        text-align: left
        vertical-align: top
      .text
        width: 500px
      label
        text-align: right
        width: 70px
