#properties, .property-form-container .confirmation
  margin-top: 10px
  .property
    background-color: white
    margin: 12px auto
    border-radius: 3px
    height: 150px
    box-shadow: gray_shadow
    overflow: hidden
    @media phone
      height: auto
    &:hover
      cursor: pointer
      .right
        background-color: lighter-gray
        @media phone
          background-color: white
    .right
      overflow: hidden
    .top
      padding: 18px
      height: 65px
      position: relative
    .bottom
      border-top: 2px solid light-gray
      font-size: .9em
      .next-service
        float: right
        background-color: lighter-gray
        width: 212px
        height: 47px
        line-height: 47px
        text-align: center
        .text
          color: darker-gray
        i
          color: dark-gray
          margin-right: 10px
          @media phone
            display: none
        @media phone
          float: none
          padding: 0 10px 0 18px
          text-align: left
          width: 100%
      .left
        padding: 15px 18px
      .id, .rooms, .text
        display: inline-block
        vertical-align: top
      .id
        color: dark-gray
      .rooms
        color: dark-gray
        i
          color: dark-gray
          display: inline-block
          vertical-align: top
          font-size: 1.1em
          margin: -2px 5px 0 0
    .icon-button
      display: inline-block
      vertical-align: top
      float: right
      margin-top: 15px
      width: 170px
      @media phone
        width: 40px
      .text
        @media phone
          display: none
    .manage
      float: right
      font-size: .9em
      color: teal
      margin: 25px 15px 0 0
      display: none
      &:hover
        text-decoration: underline
    .photo
      padding: 10px
      width: 100px
      height: 100px
      padding: 25px
      background-color: lighter-gray
      float: left
      img
        border-radius: 50%
        height: 100%
        width: 100%
      @media phone
        display: none
    .title
      margin-top: 15px
      display: inline-block
      vertical-align: top
      .name
        font-weight: bold
      .address
        margin-top: 4px
        color: dark-gray
        .city_state
          @media portrait_tablet
            display: block
          @media phone
            display: block
      @media phone
        margin-top: 5px
    a
      color: black
      text-decoration: none
      &:hover
        text-decoration: underline
  .property-link
    display: block
    color: #24272a
  .new-property
    display: block
    text-decoration: none
    box-shadow: gray_shadow
    border-radius: 3px
    .container
      background-color: white
      transition: background-color .5s ease-in-out
      border-radius: 3px
      padding: 0 25px
      height: 60px
      line-height: 60px
      box-sizing: border-box
      color: teal
      margin-top: 15px
      .text
        display: inline-block
        vertical-align: top
      i
        font-size: 20px
        margin-right: 10px
    &:hover .container
      background-color: lighter-gray

.property-form-container .confirmation
  display: none
  .alert
    margin: 0
  .property
    margin: 0 auto 12px
    border-radius: 0 0 3px 3px
