@keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(-360deg)}
}

desktop = "(min-width: 1025px)"
landscape_tablet = "(min-width: 768px) and (max-width: 1024px)"
portrait_tablet = "(min-width: 481px) and (max-width: 767px)"
phone = "(max-width: 480px)"

typicons()
  font-family:'typicons';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;height:1em;font-size:1em;text-align:center;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility

:invalid, :-moz-submit-invalid, :-moz-ui-invalid
  box-shadow: none

input[type=text],
input[type=email],
input[type=password],
input[type=file]
  border: thin solid light-gray
  border-radius: 3px
  box-shadow: none
  box-sizing: border-box
  padding: 8px 12px
  &:focus
    outline: none

.button
  border-radius: 1px
  color: white
  cursor: pointer
  letter-spacing: 0.02em
  padding: 8px 12px
  text-align: center
  text-decoration: none
  hover-darken()
  &.teal
    background-color: teal
    .icon, &:hover
      background-color: light-teal
  &.orange
    background-color: orange
    hover-darken()
  &.red
    background-color: dark-red
    .icon, &:hover
      background-color: red
  &.white
    background-color: white
    color: darker-gray
    &:hover
      color: darker-gray
  &.navy
    background-color: navy
    .icon, &:hover
      background-color: light-navy
  &:hover
    color: white

.icon-button
  border-radius: 3px
  color: white
  height: 40px
  line-height: 40px
  padding: 0
  text-align: center
  .icon, .text
    display: inline-block
    vertical-align: top
  .icon
    border-radius: 3px 0 0 3px
    padding: 0 10px
    font-size: 1.3em
    @media phone
      border-radius: 3px
  .text
    font-size: 1em
    padding: 0 20px
    @media phone
      display: none
  &:hover
    cursor: pointer
  &.teal
    background-color: teal
    .icon, &:hover
      background-color: light-teal
  &.red
    background-color: dark-red
    .icon, &:hover
      background-color: red
  &.orange
    background-color: dark-orange
    .icon, &:hover
      background-color: orange
