@keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(-360deg)}
}

desktop = "(min-width: 1025px)"
landscape_tablet = "(min-width: 769px) and (max-width: 1024px)"
portrait_tablet = "(min-width: 481px) and (max-width: 768px)"
phone = "(max-width: 480px)"

gray_shadow = 0 3px 0 0 rgba(0,0,0,0.1)

typicons()
  font-family:'typicons';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;height:1em;font-size:1em;text-align:center;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility

:invalid, :-moz-submit-invalid, :-moz-ui-invalid
  box-shadow: none

input[type=text],
input[type=email],
input[type=password],
input[type=file]
  border: thin solid light-gray
  border-radius: 3px
  box-shadow: none
  box-sizing: border-box
  padding: 8px 12px
  &:focus
    outline: none

.button.teal, button.teal
  background-color: teal
  padding: 8px 12px
  border-radius: 1px
  color: white
  a
    text-decoration: none
    color: white

.button
  border-radius: 1px
  color: white
  cursor: pointer
  letter-spacing: 0.02em
  padding: 8px 12px
  text-align: center
  text-decoration: none
  hover-darken()
  &.teal
    background-color: teal
    .icon, &:hover
      background-color: light-teal
  &.orange
    background-color: orange
    hover-darken()
  &.red
    background-color: dark-red
    .icon, &:hover
      background-color: red
  &.white
    background-color: white
    color: darker-gray
    &:hover
      color: darker-gray
  &.navy
    background-color: navy
    .icon, &:hover
      background-color: light-navy
  &:hover
    color: white

.icon-button
  border-radius: 3px
  cursor: pointer
  color: white
  height: 40px
  line-height: 40px
  padding: 0
  text-align: left
  text-decoration: none
  position: relative
  .icon
    border-radius: 3px 0 0 3px
    border-right: thin solid rgba(255, 255, 255, 0.25)
    font-size: 1.3em
    position: absolute
    left: 0
    width: 40px
    text-align: center
    -webkit-box-shadow:inset -1px 0 0 0 rgba(255,255,255,0.25)
    box-shadow: inset -1px 0 0 0 rgba(255,255,255,0.25)
    @media phone
      border-radius: 3px
  .text
    font-size: 1em
    text-align: center
    width: 100%
    position: absolute
    left: 20px
  &:hover
    cursor: pointer
  &:active
    .text
      -webkit-box-shadow:inset 10px 0 20px -10px rgba(0,0,0,0.25)
      box-shadow: inset 10px 0 20px -10px rgba(0,0,0,0.25)
      background-color: teal
      left: 0
  &.teal
    background-color: teal
    .icon, &:hover
      background-color: light-teal
  &.red
    background-color: dark-red
    .icon, &:hover
      background-color: red
  &.orange
    background-color: dark-orange
    .icon, &:hover
      background-color: orange

.select2-container
  vertical-align: top
  border-bottom: 2px solid white
  padding-bottom: 0 !important
  border: none !important
  .select2-choice
    background: white !important
    position: relative
    border-radius: 1px
    &::after
      font-family: 'pf-hosticons'
      font-size: 0.7em
      content: '\e819'
      color: gray
      position: absolute
      right: 7px
      top: 7px
  a
    background: none !important
    border: thin solid light-gray !important
    border-radius: 3px
    color: white
    box-shadow: none !important
    padding: 6px 12px !important
    .select2-arrow
      display: none !important
    .select2-chosen
      margin-right: 0

.select2-drop
  margin-top: 0px !important
  border: thin solid light-gray !important
  border-top: none !important
  z-index: 10000 !important
  .select2-result-label
    .state
      font-size: .8em
      color: #aaa
      margin-left: 10px
      display: inline-block
      vertical-align: top
      margin-top: 2px
  .select2-search
    display: none
    margin-top: 5px

.zopim
  @media phone
    display: none

.calendar
  position: relative
  background-color: white
  .month_header
    background-color: lighter-gray
    position: relative
    height: 80px
    line-height: 80px
    text-align: center
    .month
      color: darker-gray
      font-size: 1.3em
      .month_name
        font-weight: bold
      @media portrait_tablet
        font-size: 1.1em
      @media phone
        font-size: 1.1em
    .arrow
      border-radius: 3px
      width: 40px
      height: 40px
      line-height: 40px
      text-align: center
      background-color: teal
      position: absolute
      top: 20px
      z-index: 10
      i
        font-size: 1em
        color: white
      &:hover
        cursor: pointer
      &.prev
        left: 20px
        -webkit-transform: rotate(180deg)
        transform: rotate(180deg)
      &.next
        right: 20px
  .table
    padding: 40px
    text-align: center
    @media portrait_tablet
      padding: 20px
    @media phone
      padding: 10px
    table
      width: 100%
      thead
        th
          &.day_of_week
            color: dark-gray
            font-weight: bold
          &:hover
            cursor: default
      tbody
        td
          border-radius: 3px
          padding: 20px
          color: darker-gray
          &:hover
            cursor: default
          &.inactive, &.past
            color: light-gray
          &.chosen
            background-color: teal
            color: white
          &.booked
            color: teal
            font-weight: bold
          &.active:hover
            cursor: pointer
          &.active:hover, &.selecting
            background-color: teal
            color: white
            transition: background-color 0.5s ease-in
          &.active.chosen:hover
            background-color: light-gray
            color: darker-gray
          &.active.chosen.selecting
            background-color: white
          @media landscape_tablet
            padding: 12px
          @media portrait_tablet
            padding: 8px
          @media phone
            padding: 10px

#map
  height: 240px
  margin-bottom: 15px
  box-shadow: gray_shadow
  border-radius: 3px
  .leaflet-control-zoom
    background-color: transparent
    border: 0
    a
      background-size: 30px 30px
      background-position: 0 0
      border-bottom: 0
      opacity: 1
      width: 30px
      height: 30px
      &.leaflet-control-zoom-in
        background-image: url('/images/plus.png')
        margin-bottom: 2px
      &.leaflet-control-zoom-out
        background-image: url('/images/minus.png')

.alert
  font-size: 1em
  opacity: 0
  transition: opacity .6s ease, height .6s ease
  color: white
  display: block
  height: 50px
  line-height: 50px
  padding: 0
  margin: 5px 0
  position: relative
  text-align: left
  width: 100%
  i
    width: 50px
    display: inline-block
    font-size: 1.5em
    height: 50px
    text-align: center
  .title
    font-weight: normal
    margin: 0 10px
    display: inline-block
    vertical-align: top
  &.info
    background-color: teal
    i
      background-color: light-teal
  &.ok
    background-color: dark-green
    i
      background-color: green
  &.warning, &.bolt
    background-color: dark-red
    i
      background-color: red
  &.exclamation, &.question
    background-color: dark-orange
    i
      background-color: orange

.cb
  input[type=checkbox]
    display: none
    &:checked + label:before
      color: darker-gray
      content: "\2713"
      font-size: 15px
      line-height: 15px
      text-align: center
  label
    cursor: pointer
    display: inline-block
    font-size: 13px
    margin-right: 15px
    padding-left: 25px
    position: relative
    &:before
      border: 1px solid light-gray
      bottom: 1px
      content: ""
      display: inline-block
      height: 16px
      left: 0
      margin-right: 10px
      position: absolute
      width: 16px

.radio
  input[type=radio]
    display: none
    &:checked + label:before
      font-family: 'FontAwesome'
      font-size: 13px
      content: "\f111"
      color: teal
      line-height: 15px
      text-align: center
  label
    cursor: pointer
    display: inline-block
    font-size: 13px
    margin: 0 15px 0 0
    padding-left: 25px
    position: relative
    &:before
      border: 2px solid teal
      content: ""
      display: inline-block
      height: 15px
      left: 0
      position: absolute
      width: 15px
      border-radius: 50%
