javascript:
  var analytics;
  init_segmentio = function(){
    analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
    analytics.load("#{ENV['SEGMENT_KEY']}")
  }

= render 'common/live_chat'

- if Rails.env == 'production'
  javascript:
    init_segmentio()
- else
  javascript:
    analytics={};analytics.track=function(){};analytics.identify=function(){};

- if Rails.env == 'production' && logged_in?
  javascript:
    analytics.identify("#{ current_user.id }", {
        name: "#{ current_user.name }",
        id: "#{ current_user.id }",
        email: "#{ current_user.email }",
        createdAt: "#{ current_user.created_at }",
        firstName: "#{ current_user.first_name }",
        lastName: "#{ current_user.last_name }"
      }//, {
       // integrations: {
       //     Intercom : {
       //         user_hash : "#{ OpenSSL::HMAC.hexdigest('sha256', ENV['INTERCOM_SECRET'], current_user.id.to_s) }"
       //     }
       // }
    )

    window.intercomSettings = {
      "widget": {
        "activator": "#Intercom" },
      "app_id": "y2g99hzz"
    }
