- if Rails.env.production? && !['/user/edit', '/payments', '/users/activate'].any?{ |path| request.path.start_with? path }
  javascript:
    var _mfq = _mfq || [];
    (function () {
      var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/#{ENV['MOUSEFLOW_ID']}.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
